Django==1.4.1
MySQL-python==1.2.4b4
PIL==1.1.7
apiclient==1.0.2
distribute==0.6.28
django-bootstrap-form==2.0.5
django-cumulus==1.0.5
-e git+https://github.com/toastdriven/django-haystack.git@0e95d8696f8ba770f9c60152136aba32f5591fd6#egg=django_haystack-dev
docutils==0.9.1
feedparser==5.1.2
gdata==2.0.17
httplib2==0.7.7
python-cloudfiles==1.7.10
python-gflags==2.0
requests==2.20.0
uWSGI==1.2.5
urllib3==1.5
wsgiref==0.1.2
