@base: #fff;
@sidebarTextColor: #919191;
@baseFontSize: 18px;

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.readableText {
	font-family: serif;
	font-size: 1.6em;
	line-height: 1.25em;
}

.accentText (@size: .9em){
	font-family: sans-serif;
	font-size: @arguments;
}

.box-shadow (@x: 0, @y: 0, @blur: 10px, @rgba: rgba(50, 50, 50, 0.75)) {
	box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
}

.container-fluid {
	margin-right: 1%;
	margin-left: 1%;
}

a:hover {
	text-decoration: none;
}

blockquote {
        font-size: .9em;
        font-style: italic;
        color: #888;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 3%;
        padding-left: 1%;
        border-left: 3px solid #ccc;
}

.fright {
	float: right;
    text-align: right;
}

.fleft {
	float: left;
}

.margintop1 {
	margin-top: 1%;
}

.margintop5 {
	margin-top: 5%;
}

.header {
	margin-bottom:1%;
}

.alert {
	margin-top: 1%;
}

.contentWrap {
	.readableText;

}

.siteLinks {
	position: absolute; 
	bottom: 0;
	margin-bottom: 2%;
}

.sidebar-nav-fixed {
    position:fixed;
	float: left;
    width:13%;
	height: 100%;
	border-right-style: solid;
	border-right-width: 1px;
}

.sidebarBG {
	background: #222;
	margin-left: -25%;
	height: 100%;
	overflow: hidden;
	.box-shadow(3px,0px)
}


.sidebarWrapper {
	margin-left: 10%;
	margin-right: 2%;
}

.sidebarWrapper a {
	color: @sidebarTextColor;
}

.sidebarWrapper a:hover {
	color: lighten(@sidebarTextColor, 10%);
}

.staffMargin{
  margin-top: 40px;
}

.homePad {
	margin-top: 1%;
}

.homePad img{
    border:1px solid #;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#carouselDesc {
    position: absolute;
    top: 0;
    height: 450px;
    margin-top: 5%;
    margin-left: 6%;
  }

#carouselDescTransbox {
  background: #ffffff;
  height: 105%;
  width: 33%;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  position: absolute;
  top: 0;
  left: 0;
}
.articleListBorder {
  border: 1px solid;
  border-color: oldLace;
  padding: 1%;
  margin-bottom: 1%;
  line-height: 24px;
  height: 350px;
}

.articleListImage{
  float: left;
  margin-right: 10px;
  margin-bottom: 0;
}

.articleListBody{
  height: 300px;
  word-wrap: break-word;
}

.articleListMetaData{
  .accentText(.6em);
 }

.navbar{
  .accentText;
}
.articleHeader {
	margin-bottom: 1%;
	height: 75px;
}

.articleTitle {
	width: 75%;
	float: left;
}

.articleTitle h1 {
	margin-bottom: 0;
}

.articleData {
	font-size: .8em;
	color: gray;
}

.shareLinks {
  text-align: right;
  width: 212px;
}

.fb-like {
  top: -5px;
}
.articleCategories {
	margin-bottom: 2%;
	padding-bottom: 1%;
}

.paginationWrap {
	text-align: center;
}

#disqus_thread {
	width: 60%;
	margin: 0 auto;
}
.editorText {
  font-family: sans-serif;
  font-size: .7em;
}

.imageEditorCrop{
  overflow: auto;
}


#editorSummary {
	width: 80%;
	height: 50px;
	margin-bottom: 1%;
}

#summaryCounter{
  margin-right: 18%;
  font-size: 10pt;
  color: gray;
}
#editorCategories {
    height: 205px;
}

.editorStatus {
  font-family: sans-serif;
  font-size: .8em;
}

.editorErrors{
  display: inline;
  color: red;
  font-weight: bold;
}

#editorImgTxt {
  display: inline;
}

.nothumb {
  width: 125px;
  height: 125px;
  background: grey;
  text-align: center;
  font-size: 20px;
}

.nothumb p {
  padding-top: 25px;
}

#createArticle {
  display: none;
}

#saveButton{
  display: none;
}

#imgUploadModal {
  display: none;
}

.redactor_editor{
  font-family: serif;
}

#photoEdit_btn{
  display: none;
}
.selected {
  border: 6px;
  border-style: solid;
  border-color: skyBlue;
  margin: -6px;
}

#savebar{
  display: none;
  background: white;
  position: fixed;
  bottom: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}

.jcrop-holder{
  margin-bottom:3px;
  margin-left: auto;
  margin-right: auto;
}

.titleField {
	margin-right: 1%;
}

.staffHome {
	margin-top: 3%;
}

.login{
	.accentText;
	margin-top: 15%;
}

.profile {
	margin-top: 5%;
	margin-bottom: 1%;
}

.profileForm{
	.accentText;
}

.socialLinks {
	font-size: 24pt;
	padding-top: 1%;
}

.socialLinks a {
	color: #212121;
}

.socialLinks a:hover {
	color: lighten(#212121, 20%);
}

.loginbox{
  margin-left: 17%;
  font-size: 14pt;
}
#bioBody {
	height: 45%;
}
@media (max-width: 640px) {
	.articleStaff {
		text-align: left;
		float: left;
	}

    .carousel-inner {
      height: 300px !important;
    }

    .articleListBorder {
      margin-bottom: 30px;
    }

    .articleListBody{
      height: 200px;
    }
}

@media (max-width: 767px) {
	.articleStaff{
		margin-bottom: 2%;
	}

    #featuredArticles {
      margin-top: 0 !important;
    }

    .carousel-inner {
      height: 340px;
    }

    #carouselDesc {
      top: auto;
      width: 90%;
      height: auto;
      margin-top: 10%;
      margin-left: 5% !important;
    }

    #carouselDescTransbox {
      top: auto;
      bottom: auto;
      background: #d3d3d3;
      width: 100% !important;
      height: 100%;
    }

    .articleListBorder{
      height: 265px !important;
      line-height: 28px;
    }

    .articleListBody{
      height:200px !important;
    }

}

@media (max-width: 1184px) {
  #sidebar{
    width: 0;
  }

  #content {
    float: right;
    width: 100%;
  }
  .navbar{
    margin-bottom: 0;
  }

  .staffMargin{
    margin-top: 0;
  }
  .sidebar-nav-fixed {
    position:static;
    float: none;
    width:100% !important;
    height: 100%;
    border-right-style: none;
    border-right-width: none;
  }

  .siteLinks {
    position: static;
    bottom: none;
    margin-bottom: 0;
    float: right;
    width: 50%;
    text-align: right;
  }

  .homeCategories{
    width: 50%;
    float: left;
  }

  .sidebarBG {
    margin-left: 0;
    margin-right: 0;
    height: auto;
    position: absolute;
    right: 0;
    left: 0;
    .box-shadow(0px,3px)
  }

  .sidebarWrapper {
    margin-left: 5%;
    margin-right: 5%;
  }

  .contentWrap {
    margin-top: 150px;
  }

  #featuredArticles {
    margin-top: 20px;
  }

  #carouselDescTransbox {
    width: 40%;
  }
  #carouselDesc {
    margin-left: 8%;
  }
  .articleListBorder {
    margin-top: 2%;
    padding-bottom: 2%;
    height: 438px;
    line-height: 26px;
    padding: 10px;
  }

  .articleListImage {
    margin-right: 5%;
  }

  .articleListBody {
    height: 355px;
    text-overflow: ellipsis;
  }

	#disqus_thread {
		width: 100%;
	}
}