@base: #333;
@accent: #DF0101;
@accent2: #A9D0F5;
@lightAccent2: lighten(@accent2, 10%);
@accent3: #E0E0F8;
@complement1: spin(@accent, 120);
@complement2: spin(@accent, 240);
@lighten1: lighten(@base, 15%);
@lighten2: lighten(@base, 30%);
@lighten3: lighten(@base, 45%);
@lighten4: lighten(@base, 60%);
@darken1: darken(@base, 15%);
@darken2: darken(@base, 30%);
@darken3: darken(@base, 45%);
@darken4: darken(@base, 60%);
@offWhite: #FEFEFE;
@owTriad1: spin(@offWhite, 120);
@titleColor: #222;
@offBlack: #333;
body {
  font-size: 14pt;
  background-color: #757373;
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.readableText (@size: 1em, @color: @offBlack) {
  font-family: Georgia, serif;
  font-size: @size;
  line-height: (@size * 1.28);
  color: @color;
  text-rendering: optimizelegibility;
}

.accentText (@size: .7em, @height:.9em, @color:@offWhite){
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: @size;
  line-height: @height;
  color:  @color;
}

.box-shadow (@x: 0, @y: 0, @blur: 10px, @rgba: rgba(50, 50, 50, 0.75)) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

h1 {
  .accentText(1.85em, 1.5em, @offBlack);
  font-weight: 700;
}

h2 {
  .accentText(1.1em, 1.2em, @offBlack);
  font-weight: 700;
}

h3 {
  .accentText(1em, 1.1em, @offBlack);
  font-weight: 700;
}

.container-fluid {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

a:hover {
  text-decoration: none;
}

blockquote {
  font-size: .9em;
  line-height: 1.1em;
  font-style: italic;
  color: #888;
  margin-top: 1%;
  margin-bottom: 20px;
  margin-left: 3%;
  padding-left: 1%;
  border-left: 3px solid #ccc;
}

blockquote p {
  font-size: 1em;
  line-height: 1.35em;
}

.fright {
  float: right;
  text-align: right;
}

.fleft {
  float: left;
}

.center {
  text-align: center;
}

.margintop1 {
  margin-top: 1%;
}

.margintop5 {
  margin-top: 5%;
}

.paddingtop1 {
  padding-top: 1%;
}

.padding30 {
  padding: 30px;
}

.navbar{
  .accentText();
}

.label {
  font-weight: normal;
}


.header {
  margin-bottom:1%;
}

.alert {
  margin-top: 1%;
}

.articleListTags .label {
  .accentText(.9em)
}

#lgodnav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  background: @offWhite;
  z-index: 100;
  .accentText(.95em, 1.2em, @base);
  .box-shadow(0px, 1px, 10px, rgba(50,50,50,0.43));
}

#lgodnav img {
  margin-top: -10px;
  padding-left: 1%;
}

.clickable {
  height:  35px;
}

.navSection {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 35px;
  width: 155px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: -8px;
  border-right: 1px;
  border-right-style: solid;
  border-right-color: #CCC;
  padding-top: 15px;
  text-align: center;
  font-weight: 200;
  color: @lighten2;
  text-transform: uppercase;
}

.navSection a {
  font-weight: 200;
  color: @lighten2;
}

.navSection i {
  color: #000;
}

.navSectionHighlight {
  background: @accent2;
  color: @accent;
}

.navSectionHighlight a {
  color: @accent;
}

.navSectionHighlight a:hover {
  color: darken(@accent, 15%);
}

#topics {
  position: relative;
}

#topicsButton {
  position: absolute;
  width: 160px;
  display: inline-block;
  height: 50px;
  z-index: 1;
}

#topicsMenu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background: @accent2;
  height: 265px;
  width: 100%;
  border: 2px;
  float: left;
  text-align: left;
  z-index: 10;
}

#mainMenu {
  width: 50%;
  float: left;
  position: relative;
  border-right: 1px;
  border-right-color: @accent2;
  border-right-style: solid;
}

#userButton {
  position: absolute;
  width: 42px;
  display: inline-block;
  height: 50px;
  z-index: 1;
}

#userNav {
  position: relative;
  width: 21px;
}

#userMenu {
  display: none;
  width: 200px;
  float: left;
  position: absolute;
  text-align: left;
  text-transform: none;
  background: @lightAccent2;
  color: @lighten3;
  padding: 10px;
  left: 0px;
  top: 50px;
  z-index: 10;
  border-top: 8px;
  border-top-style: solid;
  border-top-color: @accent2;
}

#userMenuMobile {
  display: none;
}


.menuItem {
  color: @accent;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 9px;
  width: 250px;
  float: left;
}

.menuItemHighlight {
  background: @lightAccent2;
  color: darken(@accent, 15%);
}

.subMenu {
  display: none;
  background: @lightAccent2;
  text-transform: none;
  height: 255px;
  width: 140px;
  float: right;
  font-size: .75em;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  left: 200%;
  top: 0;
}

.subMenu a {
  color: @base;
  line-height: 21px;
}

.subMenu a:hover {
  color: darken(@complement2, 25%);
}

.menuLink {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  font-size: 1.3em;
}

.menuLinkHighlight {
  background: @offWhite;
}

#shareNav {
  position: relative;
  float: right;
  text-align: right;
  display: inline-block;
  bottom: 0;
  font-size: 1.3em;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: @lighten4;
  width: 20px;
}

#searchButton {
  width: 0;
  z-index: 10;
}

#search i {
  float: right;
  position: absolute;
  right: 10px;
  top: 15px;
  height: 50px;
  z-index: 1;
}

#navSearch {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background: darken(@offWhite, 5%);
  height: 100%;
  width: 20%;
  max-width: 400px;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #CCC;
}

#navSearch input {
  font-size: 1.1em;
  font-weight: 200;
  border: 0px;
  .rounded-corners(0px);
  .box-shadow(0px, 0px, 0px);
  height: 42px;
  width: 285px;
  background: darken(@offWhite, 5%);
}

#navSearch a {
  font-size: 1.3em;
}

#navSearch .btn {
  display: none;
}


#navSearchMobile {
  display: none;
  float: right;
  top: 50px;
  position: absolute;
  right: 0px;
  background: @lightAccent2;
  height: 90px;
  width: 275px;
  border-top: 8px;
  border-top-style: solid;
  border-top-color: @accent2;
}

#navSearchMobile form {
  margin-top: 10px;
}

//search stuff

#navSearch form input.st-search-input {
  padding: 3px 0px 0px 5px;
}

#st-results-container {
  display: block;
  left: 10%;
  margin-left: 0;
  z-index: 100002;
  position: absolute;
  top: 0px;
  margin-top: 0px;
  width: 80%;
}

#st-results-container .swiftype .st-search-bar {
  width: 100%;
}

#st-results-container .swiftype .st-search-bar input[type="text"] {
  width: 60%;
  margin-left: 10%;
}

#st-results-container .swiftype .st-result-listing  {
  width: 100%;
}

#st-results-container .swiftype .st-result-listing .st-results {
  width: 80%;
}

#st-results-container .swiftype .st-result-listing .st-search-summary {
  width: 95%;
}

#st-results-container .swiftype .st-result-listing .st-results .st-result {
  margin-bottom: 10px;
}

#st-results-container .swiftype .st-result-listing .st-results .st-result .st-result-image {
  display: inline;
}

#st-results-container .swiftype .st-result-listing .st-results .st-result.with_image .st-result-text {
  width: 85%;
  display: inline;
}
#st-results-container .swiftype .st-result-listing .st-results .st-result.with_image .st-result-text h3 a {
  font-size: 1.45em;
}

#st-results-container .swiftype .st-result-listing .st-results .st-result .st-result-text .st-metadata .st-snippet {
  font-size: 1.5em;
}

#st-results-container .swiftype .st-result-listing .st-results .st-result .st-result-text .st-metadata .st-snippet em{
  font-weight: 800;
}

.content {
  background: @offWhite;
  padding-left: 2%;
  padding-right: 2%;
}

.editorContent {
  background: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
}

.contentWrap {
  .readableText();
  max-width: 1500px;
  margin: 0 auto;
  background: #b8cad8;
}

#navgap {
  position: relative;
  z-index: 5;
  height: 58px;
  width: 100%;
  background: @accent;
}

.siteLinks {
  position: absolute;
  bottom: 45px;
}

.staffMargin{
  margin-top: 40px;
}

.homePad {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
}

.mobileHomeFeatured {
  display: none;
}

.featuredArticles {
  top: 0;
  cursor: pointer;
  position: relative;
  height: 400px;
  background: #f5f5f5;
}


.row-fluid .featuredListImg {
  position: absolute;
  left: -250%;
  width: 600%;
  height: 100%;
  background: #f5f5f5;
}

.featuredListImg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 600%;
}

.featuredListTitle {
  .accentText(1.75em, 1em, darken(@offWhite, 5%))
}

.featuredListDesc {
  position: absolute;
  top: 12%;
  left: 3%;
  width: 30%;
  .readableText(1.1em, darken(@offWhite, 5%));
}

.featuredListDesc p {
  .readableText(1em, darken(@offWhite, 20%));
  margin-top: 5px;
  font-weight: 300;
}

.featuredListDescTransbox {
  background: #111;
  min-height: 377px;
  width: 35%;
  opacity:0.75;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  position: relative;
  top: 0;
  left: 0;
}


#notesbar {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 5px;
  .accentText(.85em, 1.1em);
  background: #fefefe;
  color: @base;
  border-top: 8px;
  border-top-style: solid;
  border-top-color: #df0101;
  text-align: center;
}

#notesbar .rsUni .rsBullets {
  display: none;
}

#notespage1 {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
}

#notespage2 {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
}

#notespage3 {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
}

.notesbarList {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;

}

.notesbarList h1 {
  font-size: 1.2em;
  line-height: 1.05em;
  color: #3a536d;
  text-align: center;
  margin: 5px 0 5px 0;
}

.notesbarItem {
  display: inline-table;
  width: 22.5%;
  padding-left: 1%;
  text-align: left;
  text-transform: none;
  padding-right: 1%;
}

.notesbarTime {
  text-align: center;
  font-size: .85em;
  color: grey;
  font-style: italic;
  margin-top: -8px;
  margin-bottom: 10px;
}

.promotedArticles {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  border: #cccccc;
  border-style: solid;
  border-width: 1px;
  position: relative;
  height: 350px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.promotedListImg {
  position: absolute;
  left: -250%;
  width: 600%;
  overflow: hidden;
  height: 350px;
}

.promotedListImg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
  max-width: 1500px;
}

.promotedListTitle {
  .accentText(1.75em, 1.1em, darken(@offWhite, 5%))
}

.promotedListDesc {
  position: absolute;
  width: 63%;
  bottom: 10px;
  left: 2%;
  z-index: 1;
}

.promotedListDesc p {
  .readableText(1.1em, darken(@offWhite, 20%));
  font-weight: 100;
}

.promotedListDescTransbox {
  background: #111;
  min-height: 110px;
  height: 115%;
  width: 105%;
  opacity:0.85;
  filter:alpha(opacity=475); /* For IE8 and earlier */
  position: absolute;
  bottom: -10px;
  left: -4%;
  z-index: -1;
}

.articleListBorder {
  border: 1px solid;
  border-color:  #abb3b9;
  min-height: 285px;
  overflow: hidden;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: @offWhite;
}

.articleListImage{
  position: relative;
  float: left;
  height: 200px;
  margin-right: 10px;
  margin-bottom: 0;
  width: 300%;
  left: -100%;
  margin-top: -2%;
  margin-bottom: 15px;
  overflow: hidden;
}

.articleListImage img {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.articleListTitle{
  .accentText(1.2em, .9em, @offWhite);
}
.articleListDate {
  .accentText(.75em, 1em);
  color: gray;
  margin-bottom: 10px;
}

.articleListBody{
  .readableText(1.04em, @offBlack);
  min-height: 250px;
  word-wrap: break-word;
  padding-top: 10px;
}


.articleListMetaData{
  .accentText(.7em);
  color: gray;
  min-width: 110px;
}

.sidebarArticleListTitle{
  .accentText(1.2em, .9em, @accent);
  margin-top: 5%;
  margin-bottom: 1%;
}

.sidebarArticleAuthor {
  .accentText(.65em, 1em);
  color: gray;
}
.sidebarArticleListBody{
  margin-bottom: 5%;
  min-height: 215px;
}

.sidebarArticleListBorder {
  background: darken(@offWhite, 10%);
  width: 80;
  text-align: center;
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.archiveFeaturedListBorder {
  cursor: pointer;
  position: relative;
  height: 400px;
  margin-top: 10px;
  border: 1px solid;
  border-color: oldLace;
  min-height: 285px;
  overflow: hidden;
}

.archiveFeaturedArticleImage {
  position: absolute;
  left: -50%;
  width: 200%;
  overflow: hidden;
  height: 400px;
}

.archiveFeaturedArticleImage img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 300px;
  max-width: 1500px;
}

.archiveFeaturedListDesc {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  .readableText(1em, darken(@offWhite, 20%));
  font-weight: 300;
}

.archiveFeaturedDescTransbox {
  background: #111;
  min-height: 125px;
  width: 100%;
  opacity:0.65;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.pager a{
  border: 1px solid #abb3b9;
}

.articleHeader {
  margin-bottom: 1%;
  min-height: 75px;
}

#articleRow {
  .readableText(1.1em, @titleColor);
  position: relative;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 392px;
}

#articleImage {
  position: fixed;
  width: 200%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
  left: -49.999%;
  z-index: -1;
}

#articleImage img {
  display: block;
  max-height: 400px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

#articleRow.articleNoImage {
  height: 135px;
}

#articleMetaBox {
  position: relative;
  left: 0;
  bottom: 0;
  min-height: 65px;
  width: 100%;
  max-width: 1500px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#articleMetaBox.articleNoImage {
  top: 0;
  padding-top: 0px
}

#articleMetaBoxBG {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #464646;
  width: 100%;
  height: 100%;
  min-height: 75px;
}

#articleTitle {
  .accentText(1em, 1.2em, @offWhite);
  position: relative;
  left: 17.5%;
  width: 75%;
  bottom: 20px;
}

#articleTitle.articleNoImage {
  bottom: 0px;
}

#articleTitle h1 {
  margin-bottom: 0;
  line-height: 1.1em;
  color: @offWhite;
}

#articleDate {
  .accentText(.82em, 1.2em);
  color: #b1b1b1;
}

.articleUpdated {
  font-style: italic;
  font-weight: 400;
}

#articleSummary {
  font-size: 1em;
  font-style: italic;
  margin-top: 3%;
  padding: 10px;
  background: @lighten3;
  color: @darken3;
  .rounded-corners();
}

.articleWrap {
  margin-left: 10%;
  margin-right: 10%;
}

#articleBody  {
  .readableText(1.09em);
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 10px;
  padding-bottom: 15px;
}

#articleBody p {
  margin-bottom: 20px;
}
/* -- This made things look weird after when the content was <p></p><blockquote></bq><p></p>
#articleBody p:last-child {
  margin-bottom: 0px;
}
*/

#articleBody ul {
  margin: 0 0px 0px 30px;
}

#articleBody li > ul > li {
  color: lighten(@offBlack, 5%);
  line-height: 1.5em;
  margin-bottom: 0px;
}

#articleBody li > ul > li:last-child {
  margin-bottom: -10px;
 }

#articleBody li {
  line-height: 1.5em;
  margin-bottom: 5px;
}

#articleBody p + ul {
  margin-top: -10px;
}

#articleBody li > ul {
  margin-bottom: 5px;
}

#articleBody ul:last-child {
  margin-bottom: 20px;
}

#articleAuthorBox{
  .accentText(1em, 1em, @offBlack);
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.articleAuthorCredit{
  text-align: right;
  float: right;
}

.imgCaption {
  position: relative;
  background: #eee;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}

.caption {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  .accentText(.65em, .95em);
  color: @offBlack;
  background: white;
  opacity: .75;
  padding-top: 5px;
  padding-bottom: 5px;
}

.shareLinks {
  float: left;
}

.fb-like {
  top: -5px;
}

.articleCategories {
  margin-bottom: 2%;
  padding-bottom: 1%;
}

.paginationWrap {
  text-align: center;
  padding-bottom: 10px;
}

#disqus_thread {
  width: 60%;
  margin: 0 auto;
}

.searchRow {
  margin-bottom: 20px;
}

.searchResult {
  margin-bottom: 10px;
  padding-left: 2%;
  padding-right: 2%;
}

.searchResult img {
  max-width: 200px;
  float: left;
  margin-right: 20px;
}

.searchResult a {
  font-size: 1.3em;
}

.searchResult p {
  margin-top: 5px;
}

.searchResult .highlighted {
  color: red;
  font-weight: 800;
}

.draftsbtn {
  margin-top: 1%;
  .accentText();
}

.draftsListItem {
  margin-bottom: 1%;
  border: 1px solid;
  border-color: oldLace;
  padding: 10px;
  height: 100%;
  width: 98%;
}


.draftsListImage {
  height: 210px;
  width: 100%;
  margin-bottom: 1%;
  text-align: center;
}

.draftsListImage img {
  width: 200px;
}

.draftsListData {
  margin-bottom: 1%;
}
.draftsListButtons {
  text-align: center;
  margin-bottom: 1%;
}

.draftsNoThumb {
  width: 80%;
  max-width: 250px;
  height: 190px;
  background: grey;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

#postingError {
  background: #F2DEDE;
}

#postingError p {
  .accentText(1em, 1.5em);
  font-weight: bold;
  color: darken(@accent, 25%);
}

#postedCheckList {
  background: #D9EDF7;
}

#sidebarCheckList {
  display: none;
}

.articleCheckList {
  .accentText(.9em);
  color: #111;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.editorArticleReady {
  .accentText(1em, 1.5em);
  font-weight: bold;
  color: darken(@accent, 25%);
}


.editorWrap {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.editorText {
  font-family: sans-serif;
  font-size: .7em;
}

#editorSummary {
  width: 80%;
  height: 50px;
  margin-bottom: 1%;
}

#summaryCounter{
  margin-right: 18%;
  font-size: 10pt;
  color: gray;
}
#editorCategories {
  min-height: 280px;
}

#editorImage {
  height: 100%;
}

#editorImage img {
  float: left;
  margin-right: 10px;
  width: 50%;
  max-width: 200px;
}

#editorImageSaveBar {
  text-align: center;
  margin-top: 10px;
}

.categoryHelpText {
  width: 60%;
  line-height: 1.3em;
  color: gray;
  font-size: .9em;
}

.editorStatus {
  font-family: sans-serif;
  font-size: .8em;
}

.editorErrors{
  display: inline;
  color: red;
  font-weight: bold;
}

#editorSaved {
  display: none;
  font-size: 1.1em;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: right;
  color: #8b0000;
}
#editorImgTxt {
  display: inline;
}

.editorButtons {
  float: left;
  margin-right: 15px;
}

.editorRepubBtn {
  text-align: center;
}

.editorRepubBtn button {
  background: #fff;
  border: 0;
  width: 100%;
  padding: 5px;
}

.editorRepubBtn button:hover {
  background: @accent2;
}

.previewBar {
  height: 40px;
  max-width: 1485px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background: @offBlack;
  width: 100%;
  padding-left: 1%;
  color: whiteSmoke;
}

.previewText {
  width: 55%;
  float: left;
  color: red;
}

.previewButtons {
  width: 40%;
  margin-right: 2%;
  float: right;
}

.previewButtons button {
  float: right;
  margin-right: 2%;
}

.nothumb {
  width: 80%;
  max-width: 250px;
  min-height: 115px;
  background: grey;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  float: left;
  margin-right: 2%;
}

.nothumb p {
  padding-top: 25px;
}

.imageEditorCrop{
  overflow: auto;
}

#imageEditorSaveScreen{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

#imageEditorSaveScreenBG{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: .5;
  z-index: 1000;
}

#imageEditorSaveScreenBox {
  position: absolute;
  left: 35%;
  top: 25%;
  width: 400px;
  height: 100px;
  background: @offWhite;
  border: 2px;
  border-style: solid;
  border-color: @base;
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 1;
  z-index: 1001;
  .accentText(1em, 2em);
  color: @offBlack;
}


#imageUploadForm {
  .accentText();
  color: @offBlack;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#id_description {
  width: 70%;
  height: 100px
}

#createArticle {
  display: none;
}

#imgUploadModal {
  display: none;
}

.redactor_editor{
  font-family: serif;
}

#photoEdit_btn{
  display: none;
}
.selected {
  border: 6px;
  border-style: solid;
  border-color: skyBlue;
  margin: -6px;
}

#savebar{
  display: none;
  background: @offWhite;
  position: fixed;
  bottom: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}

.jcrop-holder{
  margin-bottom:3px;
  margin-left: auto;
  margin-right: auto;
}

.titleField {
  margin-right: 1%;
}

.Home {
  margin-top: 3%;
}

.staffHome {
  .accentText(1em);
  color:  @offBlack;
}

.staffComments {
  .accentText(.8em, 1.1em);
  color:  @offBlack;
  margin-bottom: 15px;
  margin-top: 15px;
}

.staffComments p {
  margin-bottom: 0;
  font-style: italic;
}

.staffCommentsTime{
  .accentText(.8em);
  color:gray;
}

.staffDraftNumber {
  color: @accent;
  font-size: 1.4em;
  margin-top: 10px;
  margin-bottom: 10px;
}
.staffArticleItem {
  margin-bottom: 1%;
  border: 1px solid;
  border-color: oldLace;
  padding: 10px;
  height: 100%;
  width: 98%;
}

.staffArticleItem img {
  width: 200px;
  float: left;
  margin-right: 2%;
}

.staffArticleItemContents {
  height: 70px;
  .accentText(1em);
}

.staffArticleItemContents p {
  margin-bottom: 0;
  font-size: .8em;
  font-weight: 200;
  color: gray;
}

.staffSidebarItemContents {
  height: 70px;
  .accentText(1em);
}

.staffSidebarItemContents p {
  margin-bottom: 0;
  font-size: .8em;
  font-weight: 200;
  color: gray;
}

.staffStats {
  width: 52%;
  float: right;
  margin-top: 1%;
  margin-right: 8%;

}

.staffStatsNumber {
  width: 25%;
  float: left;
  .accentText(1.5em,1.8em, @offBlack);
  font-weight: 300;
  text-align: center;
  position: relative;
}

.staffStatsNumberValue {
  color: @accent;
  font-size: 1.4em;
}

.staffStatsNumberHelpText {
  position: absolute;
  bottom: 91%;
  width: 400%;
  left: -150%;
  padding-bottom: 5px;
  text-align: center;
  display: none;
  .accentText(.45em, 1em);
  color: gray;
}

.disqus-count-text {
  display: none;
}

.staffImageAlert {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  .accentText(1em);
}

.login{
  .accentText;
  color: @offBlack;
  width: 400px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

.staffProfile {
  .accentText(.9em, 1.15em);
  color: @offBlack;
}

.profile {
  margin-top: 5%;
  margin-bottom: 1%;
  margin: 0 auto;
}

.profileImageType li {
  display: block;
}

.passwordWrap {
  width: 270px;
  height: 600px;
  margin: 0 auto;
}

.passwordDoneWrap {
  padding-top: 10%;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
}
.authorProfile {
  position: relative;
  display: inline-block;
  float: left;
  width: 70%;
  padding-top: 1%;
  margin-bottom: 10px;
  }

.authorProfileBio {
  margin-top: 10px;
}

.authorProfileImg {
  width: 20%;
  display: inline-block;
  float: left;
  min-width: 180px;
  margin-top: 10px;
  margin-right: 15px;
}

.authorProfileList {
  padding-top: 10px;
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #CCC;
  text-align: center;
}

.socialLinks {
  display: inline-block;
  width: 28%;
  margin-top: 20px;
  min-width: 200px;
}

.socialLinks i {
  font-size: 24pt;
  width: 16%;
  max-width: 50px;
  min-width: 30px;
  text-align: center;
}

.socialLinks a {
  color: @accent;
  margin-left: 2%;
  margin-right: 2%;
}

.socialLinks a:hover {
  color: lighten(@accent, 20%);
}

.socialLinks p {
  display: inline-block;
  width: 100%;
}

.loginbox{
  margin-left: 17%;
  font-size: 14pt;
}
#bioBody {
  min-height: 45%;
}

//Search stuff
.st-result-listing {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  letter-spacing: 0.8px;
  margin-top: 40px;
}

form input.st-search-input {
  font-size: 12px;
  padding: 5px 9px 5px 27px;
  height: 18px;
  width: 200px;
  color: #666;
  border: 1px solid #ccc;
  outline: none;
  background: #fcfcfc url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUFJREFUeNqU0j0oRWEcx/Hj3ifvlMHL7C1lY7mDwUBKkoksBjKJxWIQu7xlOybDLVGukhhMZDFbxGBS8nIjKR3E96nf0dPjuuVfn+6tc35P//P8/yYMw8CpbgygGQlcYw8H+Ai8MvotxQImgt81hk1M4cEPF2IV43jCGo7wjk5MYhhlGMKbG+7BKO4wiGPn8DO1vIN+jGA9fpjQaUksecG4zjGPL3VQ5IZb9OAw+LtO1FkjatxwUuEoTzjSbRu9/xO+0W97nnArqvXuoxve1/9p1OUIlmNGU7EX9+KGt3GKNuyiC5WoQAe2NJFP3PpzzmoR0khpxle6h3pnkeKJPCPjbtglerVFfWhSVxfqJtK4qrChTMY4XdjVm9O21aIA92LrFcv6HHtAsclxQVnxa0WfsqgDUib4X9muStCA2W8BBgDJ0EeGeFZ8WAAAAABJRU5ErkJggg==) no-repeat 7px 7px;
}

div.st-search-summary {
  border-bottom: 1px solid #ccc;
  padding-bottom: 7px;
  margin: 12px 0;
}

div.st-result-listing {
  width: 600px;
}

div.st-result-listing h2 {
  font-size: 13px;
  font-weight: normal;
  color: @offBlack;
  margin: 0;
}

div.st-result-listing h2 .st-query {
  font-style: italic;
  color: #666;
}

div.st-result-listing h3 {
  font-size: 12px;
  margin: 5px 0;
}

div.st-result {
  border-bottom: 1px solid #ddd;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

div.st-result.final {
  border-bottom: none;
  margin-bottom: 0;
}

div.st-result .st-snippet {
  color: @offBlack;
}

div.st-result .st-date {
  color: #999;
}

.st-pagination {
  border-top: 1px solid #ccc;
  margin-top: 5px;
  padding-top: 5px;
}

.st-prev {
  margin-right: 20px;
}

.st-loading-message {
  font-size: 16px;
  font-style: italic;
  color: #999;
  margin: 10px auto;
}

// Font Awesome

/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: http://lemonwi.se co-founder

    */
@font-face {
  font-family: "FontAwesome";
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfont.eot?#iefix') format('eot'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
/* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
/* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.3333333333333333em;
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before                { content: "\f000"; }
.icon-music:before                { content: "\f001"; }
.icon-search:before               { content: "\f002"; }
.icon-envelope:before             { content: "\f003"; }
.icon-heart:before                { content: "\f004"; }
.icon-star:before                 { content: "\f005"; }
.icon-star-empty:before           { content: "\f006"; }
.icon-user:before                 { content: "\f007"; }
.icon-film:before                 { content: "\f008"; }
.icon-th-large:before             { content: "\f009"; }
.icon-th:before                   { content: "\f00a"; }
.icon-th-list:before              { content: "\f00b"; }
.icon-ok:before                   { content: "\f00c"; }
.icon-remove:before               { content: "\f00d"; }
.icon-zoom-in:before              { content: "\f00e"; }

.icon-zoom-out:before             { content: "\f010"; }
.icon-off:before                  { content: "\f011"; }
.icon-signal:before               { content: "\f012"; }
.icon-cog:before                  { content: "\f013"; }
.icon-trash:before                { content: "\f014"; }
.icon-home:before                 { content: "\f015"; }
.icon-file:before                 { content: "\f016"; }
.icon-time:before                 { content: "\f017"; }
.icon-road:before                 { content: "\f018"; }
.icon-download-alt:before         { content: "\f019"; }
.icon-download:before             { content: "\f01a"; }
.icon-upload:before               { content: "\f01b"; }
.icon-inbox:before                { content: "\f01c"; }
.icon-play-circle:before          { content: "\f01d"; }
.icon-repeat:before               { content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before              { content: "\f021"; }
.icon-list-alt:before             { content: "\f022"; }
.icon-lock:before                 { content: "\f023"; }
.icon-flag:before                 { content: "\f024"; }
.icon-headphones:before           { content: "\f025"; }
.icon-volume-off:before           { content: "\f026"; }
.icon-volume-down:before          { content: "\f027"; }
.icon-volume-up:before            { content: "\f028"; }
.icon-qrcode:before               { content: "\f029"; }
.icon-barcode:before              { content: "\f02a"; }
.icon-tag:before                  { content: "\f02b"; }
.icon-tags:before                 { content: "\f02c"; }
.icon-book:before                 { content: "\f02d"; }
.icon-bookmark:before             { content: "\f02e"; }
.icon-print:before                { content: "\f02f"; }

.icon-camera:before               { content: "\f030"; }
.icon-font:before                 { content: "\f031"; }
.icon-bold:before                 { content: "\f032"; }
.icon-italic:before               { content: "\f033"; }
.icon-text-height:before          { content: "\f034"; }
.icon-text-width:before           { content: "\f035"; }
.icon-align-left:before           { content: "\f036"; }
.icon-align-center:before         { content: "\f037"; }
.icon-align-right:before          { content: "\f038"; }
.icon-align-justify:before        { content: "\f039"; }
.icon-list:before                 { content: "\f03a"; }
.icon-indent-left:before          { content: "\f03b"; }
.icon-indent-right:before         { content: "\f03c"; }
.icon-facetime-video:before       { content: "\f03d"; }
.icon-picture:before              { content: "\f03e"; }

.icon-pencil:before               { content: "\f040"; }
.icon-map-marker:before           { content: "\f041"; }
.icon-adjust:before               { content: "\f042"; }
.icon-tint:before                 { content: "\f043"; }
.icon-edit:before                 { content: "\f044"; }
.icon-share:before                { content: "\f045"; }
.icon-check:before                { content: "\f046"; }
.icon-move:before                 { content: "\f047"; }
.icon-step-backward:before        { content: "\f048"; }
.icon-fast-backward:before        { content: "\f049"; }
.icon-backward:before             { content: "\f04a"; }
.icon-play:before                 { content: "\f04b"; }
.icon-pause:before                { content: "\f04c"; }
.icon-stop:before                 { content: "\f04d"; }
.icon-forward:before              { content: "\f04e"; }

.icon-fast-forward:before         { content: "\f050"; }
.icon-step-forward:before         { content: "\f051"; }
.icon-eject:before                { content: "\f052"; }
.icon-chevron-left:before         { content: "\f053"; }
.icon-chevron-right:before        { content: "\f054"; }
.icon-plus-sign:before            { content: "\f055"; }
.icon-minus-sign:before           { content: "\f056"; }
.icon-remove-sign:before          { content: "\f057"; }
.icon-ok-sign:before              { content: "\f058"; }
.icon-question-sign:before        { content: "\f059"; }
.icon-info-sign:before            { content: "\f05a"; }
.icon-screenshot:before           { content: "\f05b"; }
.icon-remove-circle:before        { content: "\f05c"; }
.icon-ok-circle:before            { content: "\f05d"; }
.icon-ban-circle:before           { content: "\f05e"; }

.icon-arrow-left:before           { content: "\f060"; }
.icon-arrow-right:before          { content: "\f061"; }
.icon-arrow-up:before             { content: "\f062"; }
.icon-arrow-down:before           { content: "\f063"; }
.icon-share-alt:before            { content: "\f064"; }
.icon-resize-full:before          { content: "\f065"; }
.icon-resize-small:before         { content: "\f066"; }
.icon-plus:before                 { content: "\f067"; }
.icon-minus:before                { content: "\f068"; }
.icon-asterisk:before             { content: "\f069"; }
.icon-exclamation-sign:before     { content: "\f06a"; }
.icon-gift:before                 { content: "\f06b"; }
.icon-leaf:before                 { content: "\f06c"; }
.icon-fire:before                 { content: "\f06d"; }
.icon-eye-open:before             { content: "\f06e"; }

.icon-eye-close:before            { content: "\f070"; }
.icon-warning-sign:before         { content: "\f071"; }
.icon-plane:before                { content: "\f072"; }
.icon-calendar:before             { content: "\f073"; }
.icon-random:before               { content: "\f074"; }
.icon-comment:before              { content: "\f075"; }
.icon-magnet:before               { content: "\f076"; }
.icon-chevron-up:before           { content: "\f077"; }
.icon-chevron-down:before         { content: "\f078"; }
.icon-retweet:before              { content: "\f079"; }
.icon-shopping-cart:before        { content: "\f07a"; }
.icon-folder-close:before         { content: "\f07b"; }
.icon-folder-open:before          { content: "\f07c"; }
.icon-resize-vertical:before      { content: "\f07d"; }
.icon-resize-horizontal:before    { content: "\f07e"; }

.icon-bar-chart:before            { content: "\f080"; }
.icon-twitter-sign:before         { content: "\f081"; }
.icon-facebook-sign:before        { content: "\f082"; }
.icon-camera-retro:before         { content: "\f083"; }
.icon-key:before                  { content: "\f084"; }
.icon-cogs:before                 { content: "\f085"; }
.icon-comments:before             { content: "\f086"; }
.icon-thumbs-up:before            { content: "\f087"; }
.icon-thumbs-down:before          { content: "\f088"; }
.icon-star-half:before            { content: "\f089"; }
.icon-heart-empty:before          { content: "\f08a"; }
.icon-signout:before              { content: "\f08b"; }
.icon-linkedin-sign:before        { content: "\f08c"; }
.icon-pushpin:before              { content: "\f08d"; }
.icon-external-link:before        { content: "\f08e"; }

.icon-signin:before               { content: "\f090"; }
.icon-trophy:before               { content: "\f091"; }
.icon-github-sign:before          { content: "\f092"; }
.icon-upload-alt:before           { content: "\f093"; }
.icon-lemon:before                { content: "\f094"; }
.icon-phone:before                { content: "\f095"; }
.icon-check-empty:before          { content: "\f096"; }
.icon-bookmark-empty:before       { content: "\f097"; }
.icon-phone-sign:before           { content: "\f098"; }
.icon-twitter:before              { content: "\f099"; }
.icon-facebook:before             { content: "\f09a"; }
.icon-github:before               { content: "\f09b"; }
.icon-unlock:before               { content: "\f09c"; }
.icon-credit-card:before          { content: "\f09d"; }
.icon-rss:before                  { content: "\f09e"; }

.icon-hdd:before                  { content: "\f0a0"; }
.icon-bullhorn:before             { content: "\f0a1"; }
.icon-bell:before                 { content: "\f0a2"; }
.icon-certificate:before          { content: "\f0a3"; }
.icon-hand-right:before           { content: "\f0a4"; }
.icon-hand-left:before            { content: "\f0a5"; }
.icon-hand-up:before              { content: "\f0a6"; }
.icon-hand-down:before            { content: "\f0a7"; }
.icon-circle-arrow-left:before    { content: "\f0a8"; }
.icon-circle-arrow-right:before   { content: "\f0a9"; }
.icon-circle-arrow-up:before      { content: "\f0aa"; }
.icon-circle-arrow-down:before    { content: "\f0ab"; }
.icon-globe:before                { content: "\f0ac"; }
.icon-wrench:before               { content: "\f0ad"; }
.icon-tasks:before                { content: "\f0ae"; }

.icon-filter:before               { content: "\f0b0"; }
.icon-briefcase:before            { content: "\f0b1"; }
.icon-fullscreen:before           { content: "\f0b2"; }

.icon-group:before                { content: "\f0c0"; }
.icon-link:before                 { content: "\f0c1"; }
.icon-cloud:before                { content: "\f0c2"; }
.icon-beaker:before               { content: "\f0c3"; }
.icon-cut:before                  { content: "\f0c4"; }
.icon-copy:before                 { content: "\f0c5"; }
.icon-paper-clip:before           { content: "\f0c6"; }
.icon-save:before                 { content: "\f0c7"; }
.icon-sign-blank:before           { content: "\f0c8"; }
.icon-reorder:before              { content: "\f0c9"; }
.icon-list-ul:before              { content: "\f0ca"; }
.icon-list-ol:before              { content: "\f0cb"; }
.icon-strikethrough:before        { content: "\f0cc"; }
.icon-underline:before            { content: "\f0cd"; }
.icon-table:before                { content: "\f0ce"; }

.icon-magic:before                { content: "\f0d0"; }
.icon-truck:before                { content: "\f0d1"; }
.icon-pinterest:before            { content: "\f0d2"; }
.icon-pinterest-sign:before       { content: "\f0d3"; }
.icon-google-plus-sign:before     { content: "\f0d4"; }
.icon-google-plus:before          { content: "\f0d5"; }
.icon-money:before                { content: "\f0d6"; }
.icon-caret-down:before           { content: "\f0d7"; }
.icon-caret-up:before             { content: "\f0d8"; }
.icon-caret-left:before           { content: "\f0d9"; }
.icon-caret-right:before          { content: "\f0da"; }
.icon-columns:before              { content: "\f0db"; }
.icon-sort:before                 { content: "\f0dc"; }
.icon-sort-down:before            { content: "\f0dd"; }
.icon-sort-up:before              { content: "\f0de"; }

.icon-envelope-alt:before         { content: "\f0e0"; }
.icon-linkedin:before             { content: "\f0e1"; }
.icon-undo:before                 { content: "\f0e2"; }
.icon-legal:before                { content: "\f0e3"; }
.icon-dashboard:before            { content: "\f0e4"; }
.icon-comment-alt:before          { content: "\f0e5"; }
.icon-comments-alt:before         { content: "\f0e6"; }
.icon-bolt:before                 { content: "\f0e7"; }
.icon-sitemap:before              { content: "\f0e8"; }
.icon-umbrella:before             { content: "\f0e9"; }
.icon-paste:before                { content: "\f0ea"; }

.icon-user-md:before              { content: "\f200"; }


@media (max-width: 481px) {
  .row-fluid .featuredArticles .featuredListImg img {
    top: 0;
  }

  .mobileHomeFeatured .featuredArticles .featuredListDesc .featuredListTitle {
    font-size: 1.5em;
  }

  .mobileHomeFeatured .featuredArticles .featuredListDesc p {
    font-size: 1em;
    line-height: 1.2em;
  }

  #articleMetaBox {
    margin-top: -80px;
  }

  .articleWrap .row-fluid #articleBody {
    .readableText(1.045em);
    line-height: 1.18em;
  }

}
@media (max-width: 640px) {
  body #lgodnav img {
    margin-top: 7px;
    max-width: 60%;
  }

  .header {
    text-align: center;
  }

  .navSection {
    border-right: none;
    border-right-style: none;
    border-right-color: none;
  }

  #userButton {
    right: 100px;
    width: 45px;
  }

  #userNav {
    position: absolute;
    right: 100px;
    width: 45px;
  }

  #topics {
    right: 0;
    position: absolute;
    width: 60px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 2%;
  }

  #topicsButton {
    right: 0;
    width: 60px;
  }

  #topicsMenu {
    width: 160px;
    left: auto;
    right: 0;
    padding-left: 10px;
  }

  .menuItem {
    margin-left: -20%;
    padding-left: 25%;
    width: 160px;
  }

  .subMenu {
    float: left;
    left: auto;
    right: 80px;
  }

  .menuLink{
    .menuLink {
      font-size: 1.5em;
      line-height: 1.3em;
    }
  }

  #lgodnav #searchButton {
    position: absolute;
    right: 55px;
  }
  
  #lgodnav #search {
    right: 55px;
  }

  #lgodnav #search i {
    text-align: center;
    right: 17px;
    z-index: 0;
  }

  .mobileHomeFeatured {
    display: inline;
  }

  .rsDefault {
    display: none;
  }

  .notesbarList .notesbarItem {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .articleStaff {
    text-align: left;
    float: left;
  }

  .row-fluid .featuredArticles .featuredListDesc {
    top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .span9 .row-fluid .articleListBorder {
    min-height: 370px;
  }

  #Features .row-fluid  .articleListBorder .articleListBody {
    min-height: 300px;
  }

  .row-fluid .promotedArticles {
       height: 400px;
     }

  .promotedListImg {
    height: 400px;
  }

  .container-fluid #articleRow.articleNoImage {
    height: 250px;
  }

  .shareLinks {
    float: none;
    margin-left: 8%;
  }

  .row-fluid #articleAuthorBox {
    height: 100px;
    text-align: center;
  }
  .articleAuthorCredit{
    float: none;
    text-align: center;
    margin-bottom: 2%;
  }

  .staffArticleItem {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }

  .contentWrap .staffArticleItem .staffArticleItemContents {
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
  }

  .contentWrap .staffArticleItem .staffArticleItemContents img {
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
    width: 375px;
  }

  .searchHeader {
    text-align: center;
  }

  .searchResult img {
    width: 100%;
    max-width: 400px;
    float: none;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 10px;
  }


  .authorProfileImg {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .content .socialLinks {
    margin-top: 0;
  }

  .content .socialLinks p {
    width: 100%;
  }

  .login {
    width: 300px;
  }

  .loginbox {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}

@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }

  #lgodnav {
    position: static;
  }

  #lgodnav img {
    float: left;
    margin-top: 5px;
    margin-left: 3px;
  }

  #aboutLink {
    display: none;
  }

  #navStaffArticleImagesLink {
    display: none;
  }

  #userMenu {
    float: right;
    left: auto;
    right: 0;
    width: 165px;
    border-top: 5px;
    border-top-style: solid;
    border-top-color: @accent2;
  }

  #userMenu a {
    line-height: 1.4em;
    font-size: 1.1em;
  }

  #searchBtn #navSearch {
    border-top: 5px;
    border-top-style: solid;
    border-top-color: @accent2;
  }


  #navgap {
    height: 5px;
  }

  #notesbar .rsUni .rsBullets {
    display: inline-block;
  }

  #articleImage {
    position: absolute;
    top: 0;
    z-index: 0;
  }

  .contentWrap {
    padding-left: 0px;
    padding-right: 0px;
  }

  .content {
    padding-left: 5px;
    padding-right: 5px;
  }

  .container-fluid .contentWrap .homePad {
    width: 100%;
  }

  .row-fluid .featuredArticles {
    z-index: -1;
  }

  .featuredListImg {
    height: 300px;
    width: 1200px;
    overflow: hidden;
  }

  .featuredListImg img {
    height: auto;
  }

  #articleRow.articleNoImage {
    height: 160px;
  }

  .span8 #id_title {
    width: 100%;
  }

  .span4 #editorCategories {
    width: 100%;
    min-height: 0;
  }

  #editorImage {
    text-align: center;
  }

  #editorImage img {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }

  #editorSaved {
    top: 8px;
    bottom: auto;
  }

  #savebar {
    text-align: center;
  }

  .nothumb {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  #new_photo_btn {
    display: none;
  }

  .draftsListData {
    margin-left: auto;
    margin-right: auto;
  }
  .imagePicker {
    margin-bottom: 3%;
    text-align: center;
  }

  #articleAuthorBox {
    height: 65px;
  }

  .contentWrap .staffArticleItem .span8 {
    height: auto;
  }
  .contentWrap .staffArticleItem .staffStats {
    width: 100%;
    float: left;
  }

}

@media (max-width: 800px) {

  body #st-results-container {
    left: 0;
    width: 100%;
  }

  body #st-results-container .swiftype .st-result-listing .st-results {
    width: 95%;
  }

  body #st-results-container .swiftype .st-search-bar input[type="text"] {
    width: 70%;
    margin-left: 5%;
  }


  .row-fluid .articleListBorder .articleListImage img {
    width: 750px;
    top: 0;
  }

  #articleMetaBox #articleTitle {
    left: 0;
    bottom: 25px;
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #articleDate {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .contentWrap .articleWrap {
    margin-left: 0px;
    margin-right: 0px;
  }

  #articleBody {
    .readableText(1.1em);
    width: 100%;
    margin-left: 0;
    padding-left: 1%;
    padding-right: 1%;
  }

  #articleAuthorBox {
    width: 100%;
    margin-left: 0;
    font-size: .95em;
  }

  .authorProfile {
    width: 100%;
    margin-bottom: 0;
  }

  .socialLinks {
    width: 100%;
    min-width: auto;
  }

  .socialLinks p {
    width: 48%;
  }

  #editorSummary {
    width: 95.5%;
  }

  #summaryCounter {
    margin-right: 0;
  }

  #id_type {
    width: 100%;
  }

  #editorCategories {
    width: 100%;
    min-height: 345px;
  }

  .categoryHelpText {
    display: none;
  }

  #editorImage .span3 {
    width: 30%;
    float: left
  }

  #editorImage .span9 {
    width: 65%;
    float: right;
    height: 150px;
  }

  .editorControls {
    height: 160px;
  }

  .editorButtons {
    float: none;
  }

  #save_btn {
    width:75%;
  }

  #saveBtnDropdown {
    width: 29.5%;
  }

  .editorRepubBtn {
    width: 104%;
  }

  .editorControls .btn {
    width: 100%;
    margin-bottom: 2%;
    height: 50px;
  }

  .previewBar {
    height: 100%;
    padding-top: 15px;
    padding-left: 0;
  }

  .previewText {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1%;
  }

  .previewButtons {
    width: 100%;
    float: none;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  .previewButtons button {
    float: none;
  }

  #disqus_thread {
    width: 100%;
  }

}

@media (max-width: 977px) {
  #search{
    right: 0;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
  }

  #searchButton {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
  }

  #navSearch {
    display: none;
    top: 50px;
    right: 0;
    position: absolute;
    width: 275px;
    height: 100px;
    text-align: center;
    background: @offWhite;
    border-top: 8px;
    border-top-style: solid;
    border-top-color: @accent2;
    border: 1px solid;
    border-color: #cccccc;
    z-index: 100;
  }

  #navSearch input {
    border: 1px solid #ccc;
    width: 245px;
    margin-top: 10px;
  }

  #navSearch .btn {
    display: inline;
  }

  .featuredArticles .featuredListDesc {
    width: 80%;
    top: 35px;
    left: 10%;
    margin-right: 10%;
    text-align: center;
    padding-left: 0;
  }

  .featuredArticles .featuredListDesc p {
    margin-top: 20px;
  }
  .featuredArticles .featuredListDescTransbox {
    width: 100%;
    min-height: 400px;
    opacity: .55;
  }

  .notesbarItem {
    width: 47%;
  }

  .row-fluid .span6 {
    width: 100%;
    margin-left: 0
  }

  .contentWrap .homePad {
    width: 85%;
  }

  .featuredListDesc {
    width: 40%;
  }

  .row-fluid .articleListBorder{
    min-height: 230px;
    line-height: 28px;
  }

  #Features .articleListBorder{
    min-height: 370px;
  }

  .articleListBorder .articleListBody{
    min-height: 145px;
  }

  .articleListBorder .articleListImage img {
    top: -25%;
  }

  .promotedListDesc {
    width: 90%;
    height: 100%;
    bottom: auto;
    left: auto;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
  }

  .promotedListTitle {
    font-size: 1.5em;
    line-height: 1.2em;
  }

  .promotedListDesc p {
    font-size: 1em;
    line-height: 1.25em;
    margin-top: 15px;
  }

  .promotedListDescTransbox {
    opacity: .6;
  }

  #Features .span9 {
    width: 100%;
    margin-left: 5px;
  }

  #Features .span3 {
    width: 100%;
    margin-left: 5px;
  }

  .authorProfile .socialLinks {
    text-align: center;
    margin-left: 0;
  }

  .staffArticleItem .staffArticleItemContents {
    width: 100%;
    height: 180px;
    float: left;
  }
  .staffArticleItem .staffStats {
    width: 100%;
    margin-top: 2%;
    margin-right: 0;
  }

}

@media (max-width: 1270px) {
  #content {
    float: right;
    width: 100%;
    margin-top: 3%;
  }

  .featuredListDescTransbox {
    width: 42%;
  }

  .featuredListDesc {
    width: 35%;
    left: 30px;
    top: 5%;
  }

  .homePad {
    width: 98%;
  }

  .articleListBorder {
    min-height: 300px;
    line-height: 26px;
  }

  .articleListImage {
    margin-right: 20px;
  }

  .articleListBody {
    min-height: 240px;
    text-overflow: ellipsis;
  }

  #articleTitle {
    left: 8.5%;
  }

  .articleWrap {
    margin-left: 0;
    margin-right: 0;
  }


}
