@base: #333;
@accent: #DF0101;
@complement1: spin(@accent, 120);
@complement2: spin(@accent, 240);
@lighten1: lighten(@base, 15%);
@lighten2: lighten(@base, 30%);
@lighten3: lighten(@base, 45%);
@lighten4: lighten(@base, 60%);
@darken1: darken(@base, 15%);
@darken2: darken(@base, 30%);
@darken3: darken(@base, 45%);
@darken4: darken(@base, 60%);

body {
  font-size: 125%;
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.readableText (@size: 1em, @height: 1.2em) {
  font-family: 'Merriweather', Georgia, serif;
  font-size: @size;
  line-height: @height;
  text-rendering: optimizelegibility;
}

.accentText (@size: .7em, @height:.9em){
  font-family: sans-serif;
  font-size: @size;
  line-height: @height;
}

.box-shadow (@x: 0, @y: 0, @blur: 10px, @rgba: rgba(50, 50, 50, 0.75)) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

.container-fluid {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

a:hover {
  text-decoration: none;
}

blockquote {
  font-size: .9em;
  font-style: italic;
  color: #888;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 3%;
  padding-left: 1%;
  border-left: 3px solid #ccc;
}

.fright {
  float: right;
  text-align: right;
}

.fleft {
  float: left;
}

.center {
  text-align: center;
}

.margintop1 {
  margin-top: 1%;
}

.margintop5 {
  margin-top: 5%;
}

.navbar{
  .accentText();
}

.label {
  font-weight: normal;
}


.header {
  margin-bottom:1%;
}

.alert {
  margin-top: 1%;
}

.articleListTags .label {
  .accentText(.9em)
}

#lgodnav {
  width: 100%;
  height: 50px;
  font-size: .9em;
  color: @base;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 10px rgba(50, 50, 50, 0.43);
  -moz-box-shadow:    0px 1px 10px rgba(50, 50, 50, 0.43);
  box-shadow:         0px 1px 10px rgba(50, 50, 50, 0.43);
}

#lgodnav img {
  margin-top: -10px;
  padding-left: 1%;
}

.navSection {
  display: inline-block;
  cursor: pointer;
  height: 35px;
  width: 100px;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: -8px;
  border-right: 1px;
  border-right-style: solid;
  border-right-color: #CCC;
  padding-top: 15px;
  text-align: center;
  font-weight: 200;
  color: @lighten2;
  text-transform: uppercase;
}

.navSection a {
  font-weight: 200;
  color: @lighten2;
}

.navSection i {
  color: #000;
}

.navSectionHighlight {
  background: @base;
  color: @accent;
}

.navSectionHighlight a {
  color: @accent;
}

.navSectionHighlight a:hover {
  color: darken(@accent, 15%);
}

#topics {
  position: relative;
}

#topicsMenu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background: @base;
  height: 175px;
  width: 100%;
  border: 2px;
  float: left;
  text-align: left;
  z-index: 2;
}

#mainMenu {
  width: 50%;
  float: left;
  position: relative;
}
#userNav {
  position: relative;
  width: 21px;
}

#userMenu {
  display: none;
  width: 200px;
  float: left;
  position: absolute;
  text-align: left;
  text-transform: none;
  background: @base;
  color: @lighten3;
  padding: 10px;
  left: 0px;
  top: 50px;
  z-index: 2;
}

#userMenuMobile {
  display: none;
}


.menuItem {
  color: @accent;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 15%;
  width: 250px;
  float: left;
}

.menuItemHighlight {
  background: @lighten1;
  color: darken(@accent, 15%);
}
.subMenu {
  display: none;
  background: @lighten4;
  text-transform: none;
  height: 165px;
  width: 120px;
  float: right;
  font-size: .75em;
  font-weight: normal;
  padding: 5px;
  padding-left: 10px;
  position: absolute;
  left: 200%;
  top: 0;
}

.subMenu a {
  color: @base;
}

.subMenu a:hover {
  color: darken(@complement2, 25%);
}

#shareNav {
  position: relative;
  float: right;
  text-align: right;
  display: inline-block;
  bottom: 0;
  font-size: 1.3em;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: @lighten4;
  width: 20px;
}

#shareMenu {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background: @base;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  height: 35px;
  border: 2px;
  float: right;
  text-align: left;
  font-size: .7em;
  width: 300px;
  z-index: 2;
}

.shareLink {
  padding-right: 35px;
}
.contentWrap {
  .readableText();
  max-width: 1425px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

#navgap {
  height: 58px;
  width: 100%;
  background: @accent;
}

.siteLinks {
  position: absolute;
  bottom: 45px;
}

.staffMargin{
  margin-top: 40px;
}

.homePad {
  margin-top: 2%;
  margin-bottom: 1%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}



.featuredArticles {
  top: 0;
  cursor: pointer;
  position: relative;
  height: 400px;
  background: #f5f5f5;
}

.row-fluid .featuredListImg {
  position: absolute;
  left: -50%;
  width: 200%;
  height: 100%;
  background: #f5f5f5;
}

.featuredListImg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 300px;
}

.featuredListTitle {
  .readableText(1.75em, 1.1em)
}

.featuredListDesc {
  position: absolute;
  top: 0;
  margin-top: 5%;
  width: 25%;
  .readableText(1.1em);
}

.featuredListDescTransbox {
  background: #ffffff;
  min-height: 400px;
  width: 30%;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  position: absolute;
  top: 0;
  left: -2.6%;
}

.promotedArticles {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  border: black;
  border-style: solid;
  border-width: 1px;
  position: relative;
  height: 350px;
  overflow: hidden;
}

.promotedListImg {
  position: absolute;
  left: -50%;
  width: 200%;
  overflow: hidden;
  height: 350px;
}

.promotedListImg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
  max-width: 1500px;
}

.promotedListTitle {
  .readableText(1.75em, 1.1em)
}

.promotedListDesc {
  position: absolute;
  bottom: 10px;
  margin-left: 1%;
  .readableText(1.1em);
  color: @base;
}

.promotedListDescTransbox {
  background: #ffffff;
  min-height: 125px;
  width: 100%;
  opacity:0.475;
  filter:alpha(opacity=475); /* For IE8 and earlier */
  position: absolute;
  bottom: 0;
  left: 0;
}

.articleListBorder {
  border: 1px solid;
  border-color: oldLace;
  min-height: 285px;
  overflow: hidden;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.articleListImage{
  position: relative;
  float: left;
  height: 200px;
  margin-right: 10px;
  margin-bottom: 0;
  width: 200%;
  left: -50%;
  margin-left: -2%;
  margin-top: -2%;
  margin-bottom: 15px;
  overflow: hidden;
}

.articleListImage img {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.articleListTitle{
  .readableText(1.2em, .9em);
}
.articleListDate {
  .accentText(.65em, 1em);
  color: gray;
  margin-bottom: 1.5%;
}

.articleListBody{
  .readableText();
  min-height: 180px;
  word-wrap: break-word;
}

.articleListMetaData{
  .accentText(.7em);
  color: gray;
}

.sidebarArticleListTitle{
  color: @accent;
  .readableText(1.2em, .9em);
  margin-top: 5%;
  margin-bottom: 1%;
}

.sidebarArticleAuthor {
  .accentText(.65em, 1em);
  color: gray;
}
.sidebarArticleListBody{
  margin-bottom: 5%;
  min-height: 215px;
}

.sidebarArticleListBorder {
  background: #f5f5f5;
  border: 1px solid;
  border-color: oldLace;
  width: 80;
  text-align: center;
  padding: 25px;
}

.archiveFeaturedListBorder {
  border: 1px solid;
  border-color: oldLace;
  min-height: 285px;
  overflow: hidden;
}

.archiveFeaturedArticleImage {
  position: relative;
  left: -50%;
  width: 200%;
  overflow: hidden;
  height: 350px;
}

.archiveFeaturedArticleImage img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  min-height: 300px;
  max-width: 1500px;
}

.archiveFeaturedListDesc {
  position: absolute;
  top: 15%;
  bottom: 10px;
  left: 27.5%;
  width: 44%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  .readableText(1.1em);
  color: @base;
}

.archiveFeaturedDescTransbox {
  background: #ffffff;
  min-height: 125px;
  width: 100%;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.articleHeader {
  margin-bottom: 1%;
  min-height: 75px;
}

#articleRow {
  position: relative;
}

#articleImage {
  position: relative;
  width: 200%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: -50%;
  background: #f5f5f5;
}

#articleImage img {
  display: block;
  height: 400px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

#articleMetaBox {
  position: absolute;
  bottom: 0;
  left: -2.7%;
  background: white;
  width: 105.4%;
  opacity: .5;
  height: 115px;
}

#articleTitle {
  position: absolute;
  left: 9%;
  bottom: 20px;
}

#articleTitle h1 {
  margin-bottom: 0;
}

#articleDate {
  .accentText(.82em, 1.4em);
  color: @accent;
}

#articleSummary {
  font-size: 1em;
  font-style: italic;
  margin-top: 3%;
  padding: 10px;
  background: @lighten3;
  color: @darken3;
  .rounded-corners();
}

#articleBody  {
  .readableText(1.15em, 1.4em);
}

#articleBody p {
  margin-bottom: 1.5%;
}

#articleAuthorBox{
  .readableText();
}

.articleAuthorCredit{
  text-align: right;
  float: right;
}

.imgCaption {
  position: relative;
  background: #eee;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}

.caption {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  .accentText(.65em, .95em);
  color: #333;
  background: white;
  opacity: .75;
  padding-top: 5px;
  padding-bottom: 5px;
}

.shareLinks {
  float: left;
}

.fb-like {
  top: -5px;
}

.articleCategories {
  margin-bottom: 2%;
  padding-bottom: 1%;
}

.paginationWrap {
  text-align: center;
}

#disqus_thread {
  width: 60%;
  margin: 0 auto;
}

.editorWrap {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.editorText {
  font-family: sans-serif;
  font-size: .7em;
}

#editorSummary {
  width: 80%;
  height: 50px;
  margin-bottom: 1%;
}

#summaryCounter{
  margin-right: 18%;
  font-size: 10pt;
  color: gray;
}
#editorCategories {
  min-height: 280px;
}

#editorImage {
  height: 100%;
}

#editorImage img {
  float: left;
  margin-right: 10px;
  width: 50%;
  max-width: 300px;
  min-width: 200px;
}

.categoryHelpText {
  width: 60%;
  line-height: 1.3em;
  color: gray;
  font-size: .9em;
}

.editorStatus {
  font-family: sans-serif;
  font-size: .8em;
}

.editorErrors{
  display: inline;
  color: red;
  font-weight: bold;
}

#editorSaved {
  display: none;
  font-size: 1.1em;
  width: 79%;
  position: fixed;
  top: 60px;
  right: 10px;
  text-align: right;
  color: #8b0000;
}
#editorImgTxt {
  display: inline;
}

.nothumb {
  width: 250px;
  min-height: 115px;
  background: grey;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  float: left;
  margin-right: 2%;
}

.nothumb p {
  padding-top: 25px;
}

.imageEditorCrop{
  overflow: auto;
}

#imageUploadForm {
  .accentText();
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#id_description {
  width: 70%;
  height: 100px
}

#createArticle {
  display: none;
}

#saveButton{
  display: none;
}

#imgUploadModal {
  display: none;
}

.redactor_editor{
  font-family: serif;
}

#photoEdit_btn{
  display: none;
}
.selected {
  border: 6px;
  border-style: solid;
  border-color: skyBlue;
  margin: -6px;
}

#savebar{
  display: none;
  background: white;
  position: fixed;
  bottom: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}

.jcrop-holder{
  margin-bottom:3px;
  margin-left: auto;
  margin-right: auto;
}

.titleField {
  margin-right: 1%;
}

.Home {
  margin-top: 3%;
}

.staffArticleItem {
  margin-bottom: 1%;
  border: 1px solid;
  border-color: oldLace;
  padding: 10px;
  height: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.staffArticleItem img {
  float: left;
  margin-right: 2%;
}

.staffStats {
  height: 100%;
  margin-top: 1%;
}

.staffStatsNumber {
  width: 25%;
  float: left;
  .accentText(1.5em,1.8em);
  font-weight: 100;
  text-align: center;
  position: relative;
}

.staffStatsNumberValue {
  color: @accent;
  font-size: 1.4em;
}

.staffStatsNumberHelpText {
  position: absolute;
  bottom: 91%;
  width: 400%;
  left: -150%;
  padding-bottom: 5px;
  text-align: center;
  display: none;
  .accentText(.45em, 1em);
  color: gray;
}

.disqus-count-text {
  display: none;
}

.login{
  .accentText;
  width: 400px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  margin-top: 5%;
  margin-bottom: 1%;
}

.profileForm{
  .accentText;
}

.authorProfile {
  text-align: center;
  }

.socialLinks {
  font-size: 24pt;
  padding-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.socialLinks a {
  color: #212121;
  margin-left: 2%;
  margin-right: 2%;
}

.socialLinks a:hover {
  color: lighten(#212121, 20%);
}

.loginbox{
  margin-left: 17%;
  font-size: 14pt;
}
#bioBody {
  min-height: 45%;
}

@media (max-width: 481px) {
  .row-fluid .featuredArticles .featuredListImg img {
    top: 0;
  }
}
@media (max-width: 640px) {
  body #lgodnav img {
    margin-top: 10px;
    max-width: 60%;
  }

  .header {
    text-align: center;
  }

  #featuresNav {
    display: none;
  }

  #shareNav {
    display: none;
  }

  .navSection {
    border-right: none;
    border-right-style: none;
    border-right-color: none;
  }
  #userNav {
    position: absolute;
    right: 60px;
    width: 45px;
  }

  #userMenu {
    float: right;
    left: auto;
    right: 0;
    width: 130px;
  }

  #topics {
    right: 0;
    position: absolute;
    width: 60px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 2%;
  }

  #topicsMenu {
    width: 140px;
    left: auto;
    right: 0;
    padding-left: 10px;
  }

  .menuItem {
    margin-left: -20%;
    padding-left: 25%;
    width: 136px;
  }

  .subMenu {
    float: left;
    left: auto;
    right: 80px;
  }

  .articleStaff {
    text-align: left;
    float: left;
  }

  .featuredArticles .featuredListImg img {
    top: -25%;
  }

  .row-fluid .featuredArticles .featuredListDesc {
    width: 100%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .span9 .row-fluid .articleListBorder {
    min-height: 370px;
  }

  .row-fluid .articleListBorder .articleListImage {
    height: 165px;
  }

  .row-fluid .articleListBorder .articleListImage img {
    height: 165px;
    max-width: 750px;
  }

  #Features .row-fluid  .articleListBorder .articleListBody {
    min-height: 300px;
  }

  .row-fluid .promotedArticles {
    height: 300px;
  }

  .shareLinks {
    float: none;
  }

  .row-fluid #articleAuthorBox {
    height: 100px;
  }
  .articleAuthorCredit{
    float: none;
    text-align: left;
    margin-bottom: 2%;
  }

  .tab-content #posted .staffArticleItem .span8 p {
    width: 100%;
    float: left;
    text-align: center;
  }
  .tab-content #posted .staffArticleItem .span8 img {
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
  }

  .login {
    width: 300px;
  }

  .loginbox {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}

@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  
  #lgodnav {
    position: static;
  }

  #lgodnav img {
    float: left;
    margin-top: 5px;
    margin-left: 3px;
  }

  #navgap {
    height: 5px;
  }

  .contentWrap {
    padding-left: 8px;
    padding-right: 8px;
  }

 .container-fluid .contentWrap .homePad {
    width: 100%;
  }

  .row-fluid .featuredArticles {
    margin-top: -2%;
    z-index: -1;
    height: 300px
  }

  .featuredListImg {
    height: 300px;
    width: 1200px;
    overflow: hidden;
  }

  .featuredListImg img {
    height: auto;
  }

  .featuredArticles .featuredListDesc {
    width: 90%;
    margin-top: 15%;
    margin-left: 1.5%;
    text-align: center;
    margin-right: 10%;
    padding-left: 0;
  }

  .featuredArticles .featuredListDescTransbox {
    width: 108%;
    left: -5%;
  }

  .promotedArticles .promotedListDescTransbox {
    height: 100%;
  }

  .promotedArticles .promotedListDesc {
    width: 90%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 5%;
  }

  .articleListBorder .articleListImage {
    height: 200px;
  }

  .contentWrap .row-fluid .articleListBorder .articleListImage img {
    height: 200px;
    max-width: 750px;
    top: 0;
  }

  .span8 #id_title {
    width: 100%;
  }

  .span4 #editorCategories {
    width: 100%;
    min-height: 0;
  }

  #editorImage {
    text-align: center;
  }

  #editorImage img {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  #savebar {
    text-align: center;
  }

  .nothumb {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  #new_photo_btn {
    display: none;
  }

  .imagePicker {
    margin-bottom: 3%;
    text-align: center;
  }

  #articleAuthorBox {
    height: 65px;
  }

  #posted .staffArticleItem .span8 {
    height: auto;
  }
  #posted .staffArticleItem .staffStats {
    width: 100%;
    float: left;
  }

}

@media (max-width: 800px) {
  #articlesNav {
    display: none;
  }

  .row-fluid .articleListBorder .articleListImage img {
    top: 0;
  }

  #articleImage {
    margin-top: -2%;
    z-index: -1;
  }

  #articleTitle {
    left: 0;
    bottom: 25px;
    width: 100%;
    text-align: center;
  }

  #articleBody {
    font-size: .95em;
    width: 100%;
    margin-left: 0;
  }

  #articleAuthorBox {
    width: 100%;
    margin-left: 0;
    font-size: .95em;
  }

  #editorSummary {
    width: 95.5%;
  }

  #summaryCounter {
    margin-right: 0;
  }

  #id_type {
    width: 100%;
  }

  #editorCategories {
    width: 100%;
    min-height: 345px;
  }

  .categoryHelpText {
    display: none;
  }

  #editorImage .span3 {
    width: 30%;
    float: left
  }

  #editorImage .span9 {
    width: 65%;
    float: right;
    height: 150px;
  }

  .editorControls .btn {
    width: 100%;
    margin-bottom: 2%;
    height: 50px;
  }

  #disqus_thread {
    width: 100%;
  }

}

@media (max-width: 977px) {
  .row-fluid .span6 {
    width: 100%;
    margin-left: 0
  }

  .contentWrap .homePad {
    width: 85%;
  }


  .featuredListDescTransbox {
    width: 55%;
  }

  .featuredListDesc {
    width: 40%;
  }

  .row-fluid .articleListBorder{
    min-height: 230px;
    line-height: 28px;
    margin-bottom: 3%;
  }

  #Features .articleListBorder{
    min-height: 370px;
  }

  .articleListBorder .articleListBody{
    min-height: 145px;
  }

  .articleListBorder .articleListImage img {
    top: -25%;
  }

  .promotedListDesc {
    margin-right: 1%;
  }

  .promotedListDescTransbox {
    min-height: 165px;
  }

  #Features .span9 {
    width: 100%;
    margin-left: 5px;
  }

  #Features .span3 {
    width: 100%;
    margin-left: 5px;
  }

  .contentWrap .row-fluid .authorProfile {
    margin-left: 0
  }
  .staffArticleItem .span8 {
    width: 100%;
    height: 50px;
    float: left;
  }
  .staffArticleItem .staffStats {
    width: 60%;
    margin-top: 2%;
    float: right;
  }

}

@media (max-width: 1270px) {
  #content {
    float: right;
    width: 100%;
    margin-top: 3%;
  }

  .featuredListDescTransbox {
    width: 40%;
  }

  .featuredListDesc {
    width: 30%;
    left: 30px;
  }

  .homePad {
    width: 98%;
  }

  .articleListBorder {
    margin-top: 1%;
    min-height: 300px;
    line-height: 26px;
  }

  .articleListImage {
    margin-right: 20px;
  }

  .articleListBody {
    min-height: 240px;
    text-overflow: ellipsis;
  }

  .sidebarArticleListBorder {
    margin-top: 1%;
    margin-bottom: 2%;
  }

  #editorSaved {
    top: 8px;
  }
}
