<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Live Geek or Die</title>
    <link href="/static/css/lgod-bs.css" rel="stylesheet" />
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/errors.css" rel="stylesheet">
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body
<div class="container-fluid">
    <div id="errorPageBody">
        <div class="row-fluid">
            <div class="span12">
                <span id="errorPageTitle">404</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <span id="errorPageMsg">This page is in another castle.</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div id="errorPageExplanation">This page doesn't exist. Either you clicked on a bum link or typed gibberish into the address bar. If it's a bad link, <a href="mailto:jared@livegeekordie.com">let us know</a> and we'll check it out.</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36481251-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>
