{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
    <div id="articleBody" class="span12 about-box">
        <h1>What is Live Geek or Die?</h1>
        <p>Our humble goals are</p>
        <ul>
        <li> to bring our insights, hopefully with a New England perspective, to various technology and entertainment stories near and dear to geeks' hearts</li>
        <li> to talk about geek related things from our own personal perspectives</li>
        <li> to cover New England-based geek-related things, trends, events, and companies</li>
        </ul>
        <p>We hope you'll enjoy our material and join the conversation.</p>
    </div>
</div>
{% endblock %}