{% extends "base.html" %}
{% block head %}
<script type="text/javascript">
    $(document).ready(function () {
        $(function($){
            $('#articleBody img').each(function(index) {
                $(this).load(function(){
                    $alt = $(this).attr('alt');
                    $float = $(this).css('float')
                    if ($alt) {
                        $image = new Image()
                        $image.src = $(this).attr('src')
                        $height = $image.height;
                        $width = $image.width;
                        $margin = $(this).css('margin');
                        $this = $(this).wrap('<div class="imgCaption"/>');
                        $(this).css('margin','');
                        $(this).css('height','auto');
                        $(this).parent().css('float',$float);
                        $(this).parent().css('max-height',$height);
                        $(this).parent().css('max-width',$width);
                        if ($float == 'right') {
                            $(this).parent().css('margin-left','10px');
                        }
                        if ($float == 'left') {
                            $(this).parent().css('margin-right','10px');
                        }
                        $('<div class="caption">' + $this.attr("alt") + '</div>').insertAfter($this);
                    } else if ($float == 'none') {
                        $(this).css('margin','');
                        $(this).css('height','auto');
                        $(this).parent().css('text-align','center');
                    }
                });
            });
        });
    });
</script>
{% endblock %}
{% block title %}<title xmlns="http://www.w3.org/1999/html">{{ article.title }}</title>{% endblock %}
{% block meta %}
    <meta property="og:url" content="http://lgod.photosandtext.com/article/{{ article.title_slug }}/"
    <meta name="title" content="{{ article.title }}" />
    <meta property="og:site_name" content="Live Geek or Die" />
    <meta property="og:title" content="{{ article.title }}" />
    <meta property='st:title' content="{{ article.title }}" />
    <meta name="description" content="{{ article.summary|safe }}" />
    <meta property="og:description" content="{{ article.summary|safe }}" />
    <meta property="og:type" content="website" />

    <link rel="image_src" href="{{ article.image.thumbnail.URL }}" />
    <meta property="og:image" content="{{ article.image.thumbnail.URL }}" />
    <meta property='st:image' content="{{ article.image.thumbnail.URL }}" />
{% endblock %}
{% block notice %}

{% endblock %}

{% block featured %}
<div id="articleRow">
    <div id="articleImage" class="span12"
         data-r0='<img src="{{ article.image.small_featured.URL }}">'
         data-r641='<img src="{{ article.image.medium_featured.URL }}">'
         data-r801='<img src="{{ article.image.header.URL }}">'
        >
    </div>
    <div id="articleMetaBox">
        <div id="articleMetaBoxBG"></div>
        <div id="articleTitle">
            <h1>{{ article.title }}</h1>
            <div id="articleDate">
            Posted on {{ article.date_posted|date:"l, F jS" }} at {{ article.date_posted|date:"P" }}
            {% if updated %}
            <div class="articleUpdated">Updated: {{ article.list_date|date:"l, F jS" }} at {{ article.list_date|date:"P" }}</div>
            {% endif %}
             {% if article.type == 'featured' %}<br><span class="label label-important">Featured Article</span>{% endif %}
            </div>
        </div>
    </div>
</div>
{% if not posted %}
    <div class="previewBar">
        <div class="previewText">
            You are previewing this article. It has not been posted yet.
        </div>
        <div class="previewButtons">
            <a href="/editor/{{ article.id }}"><button class="btn btn-primary"><i class="icon-edit"></i> Edit this Article</button></a>
            <a href="/editor/{{ article.id }}"><button class="btn btn-warning"><i class="icon-book"></i> Publish this Article</button></a>
        </div>
    </div>
{% endif %}
{% endblock %}
{% block content %}
<div class="content articleWrap">
    <div class="row-fluid">
        <div id="articleBody" class="span12">
        {{ article.body|safe }}
        </div>
    </div>
    <div data-swiftype-index='false' class="row-fluid">
        <div id="articleAuthorBox" class="span10 offset1 well">
            <div class="articleAuthorCredit">
                This article was written by <a href="/author/{{ article.author.username|lower }}">{{ article.author.staffprofile.displayName }}</a>
            </div>
            <div class="shareLinks">
                <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                <div class="g-plus" data-action="share" data-annotation="bubble"></div>
                <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
            </div>
        </div>
    </div>
    <div data-swiftype-index='false' class="row-fluid">
        <div class="span12">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'livegeekortest';
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    </div>
</div>


{% endblock %}
{% block javascript %}

    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.async=true;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script>
        !function(d,s,id){
            var js,fjs=d.getElementsByTagName(s)[0];
            if(!d.getElementById(id)){
                js=d.createElement(s);
                js.id=id;js.src="//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js,fjs);
            }
        }(document,"script","twitter-wjs");
    </script>


{% endblock %}

