	{% for article in articles %}
         <div class="row-fluid homePad">
            {% if forloop.counter|divisibleby:2 %}
                <div class="span2">
                    <a href="/article/{{ article.title_slug }}"><img src={{ article.thumbnail.URL }}></a>
                </div>
            <div class="span10">
                <a href="/article/{{ article.title_slug }}">{{ article.title }}</a> (Posted: {{ article.date_posted }})
                <p>{{ article.summary }}</p>
            </div>
            {% else %}
            <div class="span10">
                <a href="/article/{{ article.title_slug }}">{{ article.title }}</a> (Posted: {{ article.date_posted }})
                <p>{{ article.summary }}</p>
            </div>
            <div class="span2">
                        <a href="/article/{{ article.title_slug }}"><img src={{ article.thumbnail.URL }}></a>
            </div>

            {% endif %}
		</div>
	{% endfor %}