{% extends "base.html" %}
{% block title %}<title> {{ article.title }} - Live Geek or Die </title>{% endblock %}
{% block notice %}
	{% if not posted %}
	<div class="row-fluid">
		<div class="span12">	
			<div class="alert alert-error accentText">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<div style="text-align: center;"><strong>YO!</strong> THIS ARTICLE ISN'T POSTED YET!</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block content %}
{% include "staffButton.html" %}
<div class="row-fluid">
		<div class="span12 articleHeader">
			<div class="articleTitle">
				<h1>{{ article.title }}</h1>
				<div class="articleData">
				Posted on {{ article.date_posted }}
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12 articleBody">
		{{ article.body|safe }}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12 articleAuthorBox well">
				This article was written by <a href="/author/{{ article.author.first_name|lower }}">{{ article.author.first_name }}</a>
        </div>
	</div>
					
	<div class="row-fluid">
		<div class="span12">
			<div id="disqus_thread"></div>
			<script type="text/javascript">
				var disqus_shortname = 'livegeekortest'; 
				/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	


{% endblock %}

