{% if staffProfile.bio %}
    <div class="row-fluid">
        <div class="span6 offset3 well margintop1 authorProfile">
            {{ staffProfile.bio|safe }}
            {% if social %}
            <div class="socialLinks">
                {%if staffProfile.twitter %}
                    <a href="http://www.twitter.com/{{ staffProfile.twitter }}"><i class="icon-twitter"></i></a>
                {% endif %}
                {% if staffProfile.facebook %}
                    <a href="{{ staffProfile.facebook }}"><i class="icon-facebook"></i></a>
                {% endif %}
                {% if staffProfile.gplus %}
                    <a href="{{ staffProfile.gplus }}"><i class="icon-google-plus-sign"></i></a>
                {% endif %}
                {% if staffProfile.purl %}
                    <a href="{{ staffProfile.purl }}" title="{{ staffProfile.purl_name }}"><i class="icon-globe"></i></a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
{% endif %}