<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        {% block title %}<title>Live Geek or Test</title>{% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/LiveGeekorDie" />
        <link href="/static/css/lgod-bs.css" rel="stylesheet" />
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/static/css/font-awesome.css" rel="stylesheet" >
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
        <link href="/static/css/styles.less" rel="stylesheet/less"/>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/less-1.3.0.min.js"></script>
        <script src="/static/js/response.min.js"></script>
        {% block meta %}{% endblock %}
        {% block head %}{% endblock %}
</head>
<body
data-responsejs='{
    "create": [
    { "breakpoints": [0,320,481,641,801,1025,1281], "mode": "src", "prefix": "src" },
    { "breakpoints": [0,320,481,641,801,1025,1281], "mode": "markup", "prefix": "r" }
    ]}'
>
{% include "navbar.html" %}
<div class="container-fluid">
    <div class="row-fluid">
        <div id="navgap">A site for New England geeks and gamers</div>
        <div class="contentWrap margintop1">
            {% block notice %}{% endblock %}
            {% block content %}{% endblock %}
            <div class="row-fluid">
                <div class="span12">
                    <div class="footer">
                        {% block footer %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        $(document).ready(function(){
            $("body").keydown(
                function(event){
                    if (event.which == 27){
                        url = '/login';
                    };
                    {% block keyboardnav %}{% endblock %}
                    if (url) {
                        window.location = url;
                    }
                });
        });
    </script>
	{% block javascript %}

	{% endblock %}
</body>
</html>
