{% extends "base.html" %}
{% block head %}
    <script src="/static/js/jquery.Jcrop.min.js"></script>
    <link rel="stylesheet" href="/static/css/jquery.Jcrop.css" type="text/css" />

    <script language="Javascript">
    $(document).ready(
        function() {
            $('#fimage').Jcrop({
                onSelect: featCoords,
                onChange: featCoords,
                minSize:['{{ headerType.width }}','{{ headerType.height }}'],
            {% if header.X2 %}
                setSelect:   [ {{ header.X }}, {{ header.Y }}, {{ header.X2 }}, {{ header.Y2 }} ],
            {% endif %}
                aspectRatio:3.75/1,
                trueSize: [{{ articleImage.image.width }},{{ articleImage.image.height }}]
            });
        });
    function featCoords(c)
    {
        jQuery('#{{ headerType.id }}form').find('#X').val(c.x);
        jQuery('#{{ headerType.id }}form').find('#Y').val(c.y);
        jQuery('#{{ headerType.id }}form').find('#X2').val(c.x2);
        jQuery('#{{ headerType.id }}form').find('#Y2').val(c.y2);
    };


    $(document).ready(function() {

        $(checkImageCrop);

        $('body').on('mouseup', checkImageCrop);
        function checkImageCrop() {
            if ($("#{{ headerType.id }}form").find("> #X2").val() - $("#{{ headerType.id }}form").find("> #X").val() != 0){
                $("#headertab").addClass('imgEditorGood');
                var featuredgood = true
            } else {
                $("#headertab").removeClass('imgEditorGood');
                var featuredgood = false
            }

            if (featuredgood){
                $('#saveButton').removeClass("disabled");
                $('#saveButton').unbind('click');
                $("#saveButton").click(function() {
                    $("#imageEditorSaveScreen").show();
                });
            } else {
                $('#saveButton').addClass("disabled");
                $('#saveButton').click(function() {
                    return false;
                });
            }
        }
    });
    </script>
{% endblock %}
{% block title %}<title> Image Editor - Live Geek or Die </title>{% endblock %}

{% block content %}
    <div id="imageEditorSaveScreen">
        <div id="imageEditorSaveScreenBG"></div>
        <div id="imageEditorSaveScreenBox">
            Creating thumbnails and magic.
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
    </div>
    {% if form.errors %}
        <div class="row-fluid">
            <div class="span12">
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.name }}-{{ field.errors }}<p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <form action="/staff/image/{{ articleImage.id }}/{% if article_id %}?article={{ article_id }}{% endif %}" method="post">
    {% csrf_token %}
    <div class="row-fluid">
        <div id="editorImageSaveBar" class="span12">
            <button id="saveButton" type="submit" name="submit" class="btn btn-primary disabled">Save Image Selection</button>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 margintop1">
            <div class="row-fluid imageEditorCrop">
                <div class="span12">
                    <img id="fimage" src="{{ articleImage.image.url }}" width="1140" height="{{ imgheight }}">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {{ formset.management_form }}
        {% for form in formset %}
        <div id="{{ form.type.value }}form" class="span2">
            {{ form }}
        </div>
        {% endfor %}
    </div>
    </form>
{% endblock %}

