{% extends "base.html" %}
{% block title %}<title>Image Picker - Live Geek or Die </title>{% endblock %}
{% block content %}
    <form action="." method=post>
    {% csrf_token %}
    <div id="savebar" class="row-fluid">
        <div class="span12">
            <button type="submit" name="submit" class="btn btn-primary">Save Image Selection</button>
        </div>
    </div>
    <div class="row-fluid margintop1">
        {% for image in imagelist %}
            <div class="span3 imagePicker">
                <img data-id="{{ image.src }}" src="{{ image.URL }}">
            </div>
            {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row-fluid margintop1">
            {% endif %}
        {% endfor %}
    </div>
    <input type="hidden" id="selectedimage" name="image" />
    </form>
{% endblock %}
{% block footer %}
    {% include "pagination.html" %}
{% endblock %}
{% block javascript %}
   <script>
   $(document).ready(function(){
        $('img').mouseup(function(){
            var $this = $(this);
            $this.toggleClass('selected');
            $('img').not(this).removeClass('selected');


        if($this.hasClass('selected')){
            $("#selectedimage").val($this.data('id'));
            $('.contentWrap').animate({marginBottom:'3%'},350);
            $('#savebar').slideDown(250);
        }else{
            $("#selectedimage").val('');
        };
      });
   });

   </script>
{% endblock %}
