{% extends "base.html" %}
{% block head %}
    <script src="/static/js/jquery.Jcrop.min.js"></script>
    <link rel="stylesheet" href="/static/css/jquery.Jcrop.css" type="text/css" />

    <script language="Javascript">
    $(document).ready(
        function() {
            $('#fimage').Jcrop({
                onSelect: featCoords,
                onChange: featCoords,
                minSize:['400','400'],
            {% if featured.X2 %}
                setSelect:   [ {{ featured.X }}, {{ featured.Y }}, {{ featured.X2 }}, {{ featured.Y2 }} ],
            {% endif %}
                aspectRatio:1
            });
            $('#himage').Jcrop({
                onSelect: headerCoords,
                onChange: headerCoords,
                minSize:['1000','250'],
            {% if header.X2 %}
                setSelect:   [ {{ header.X }}, {{ header.Y }}, {{ header.X2 }}, {{ header.Y2 }} ],
            {% endif %}
                aspectRatio:4/1
            });
            $('#timage').Jcrop({
                onSelect: thumbCoords,
                onChange: thumbCoords,
                minSize:['125','125'],
            {% if thumb.X2 %}
                setSelect:   [ {{ thumb.X }}, {{ thumb.Y }}, {{ thumb.X2 }}, {{ thumb.Y2 }} ],
            {% endif %}
                aspectRatio:1
            });
        });
    function featCoords(c)
    {
        jQuery('#{{ featuredid }}form').find('#X').val(c.x);
        jQuery('#{{ featuredid }}form').find('#Y').val(c.y);
        jQuery('#{{ featuredid }}form').find('#X2').val(c.x2);
        jQuery('#{{ featuredid }}form').find('#Y2').val(c.y2);
    };

    function headerCoords(c)
    {
        jQuery("#{{ headerid }}form").find("#X").val(c.x);
        jQuery("#{{ headerid }}form").find("#Y").val(c.y);
        jQuery("#{{ headerid }}form").find("#X2").val(c.x2);
        jQuery("#{{ headerid }}form").find("#Y2").val(c.y2);
    };

    function thumbCoords(c)
    {
        jQuery("#{{ thumbid }}form").find("> #X").val(c.x);
        jQuery("#{{ thumbid }}form").find("> #Y").val(c.y);
        jQuery("#{{ thumbid }}form").find("> #X2").val(c.x2);
        jQuery("#{{ thumbid }}form").find("> #Y2").val(c.y2);
    };

    </script>
{% endblock %}
{% block title %}<title> {{ article.title }} - Live Geek or Die </title>{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="row-fluid">
            <div class="span12">
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.name }}-{{ field.errors }}<p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% include "staffButton.html" %}
    <div class="row-fluid">
        <div class="span12 margintop1">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#featured" data-toggle="tab">Featured</a></li>
                    <li><a href="#header" data-toggle="tab">Header</a></li>
                    <li><a href="#thumbnail" data-toggle="tab">Thumbnail</a></li>
                </ul>
                <form action="." method="post">
                    {% csrf_token %}
                <div class="tab-content">
                    <div class="tab-pane active" id="featured">
                        <div class="row-fluid editorCrop">
                            <div class="span12">
                                <img id="fimage" src="{{ article.image.url }}">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="header">
                        <div class="row-fluid">
                            <div class="span12 editorCrop">
                                <img id="himage" src="{{ article.image.url }}">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="thumbnail">
                        <div class="row-fluid">
                            <div class="span12 editorCrop">
                                <img id="timage" src="{{ article.image.url }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {{ formset.management_form }}
            {% for form in formset %}
                <div id="{{ form.type.value }}form" class="span2">
                    {{ form }}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 margintop1">
            <div class="control-group well">
                <div class="controls">
                    <button class="btn btn-primary"type="submit" value="Save"><i class="icon-ok-sign"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
    </form>
{% endblock %}

