{% extends "base.html" %}
{% load bootstrap %}
{%  block head %}
    <script src="/static/js/response.min.js" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}
{% block title %}<title>Live Geek or Die </title>{% endblock %}
{% block content %}
<div class="row-fluid">
    <div id="imageUploadForm" class="span6 offset3 margintop1">
        <span class="center"><h1>Image Upload</h1></span>
        <form class="form-horizontal" method="post" action="/staff/image/upload/{% if article_id %}?article={{ article_id }}{% endif %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.image|bootstrap }}
                {{ form.description|bootstrap }}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </div>
        </form>
    </div>
</div>
    </div>
</div>
{% endblock %}