{% extends "base.html" %}
{% load bootstrap %}
{% block title %}<title>Login - Live Geek or Die</title>{% endblock %}
{% block content %}
<div class="content">
    <div class="row-fluid">
        <div class="span12">
             <div class="login well">
                <legend>Please Sign In</legend>
                {% if form.errors %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Username or Password!
                </div>
                {% endif %}
                <div class="loginbox">
                <form method="POST" action="./?next={{ next }}">
                    {% csrf_token %}
                    <div class="control-group required">
                        <label class="control-label" for="id_username">Username</label>
                        <div class="controls">
                            <input id="id_username" type="text" name="username" maxlength="30" />
                        </div>
                    </div>
                    <div class="control-group required">
                        <label class="control-label" for="id_password">Password</label>
                        <div class="controls">
                            <input type="password" name="password" id="id_password" />
                        </div>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
                    <button type="submit" name="submit" class="btn btn-info btn-block">Sign in</button
                </form>
             </div>
        </div>
    </div>
</div>
{% endblock %}