{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".navSection").hover(
                function() {
                    $(this).addClass("navSectionHighlight")
                },
                function(){
                    $(this).removeClass("navSectionHighlight")
                }
        );

        $("#topicsButton").hover(
            function () {
                $("#topicsMenu").show();
                $('#topics').addClass("navSectionHighlight")
            },
            function () {
                $("#topicsMenu").hide();
                $('#topics').removeClass("navSectionHighlight")
            }
        );

        $('#topicsButton').bind('touchstart',
            function(){
                if (($('#searchButton').width() > 10) && ($('#navSearch').is(':visible'))) {
                    $('#navSearch').hide();
                    $('#search').removeClass('navSectionHighlight')
                }
                if ($('#userMenu').is(':visible')) {
                    $('#userMenu').hide();
                    $('#userNav').removeClass('navSectionHighlight');
                }
                $('#topicsMenu').toggle();
                $('#topics').toggleClass('navSectionHighlight');
            }
        );

        $('.menu').hover(
                function() {
                    $(this).show();
                },
                function () {
                    $(this).hide();
                }
        );

        $("#userButton").hover(
                function () {
                    $("#userMenu").show();
                    $("#userNav").addClass("navSectionHighlight")
                },
                function () {
                    $("#userMenu").hide();
                    $("#userNav").removeClass("navSectionHighlight")
                }
        );

        $('#userButton').bind('touchstart',
            function(){
                if (($('#searchButton').width() > 10) && ($('#navSearch').is(':visible'))) {
                    $('#navSearch').hide();
                    $('#search').removeClass('navSectionHighlight');
                }
                if ($('#topicsMenu').is(':visible')) {
                    $('#topicsMenu').hide();
                    $('#topics').removeClass('navSectionHighlight')
                }
                $('#userMenu').toggle();
                $('#userNav').toggleClass('navSectionHighlight');
                return false;
            }
        );

        $(".menuItem").hover(
            function () {
                $(this).addClass("menuItemHighlight")
                $(".subMenu", this).show();
            },
            function () {
                $(this).removeClass("menuItemHighlight")
                $(".subMenu", this).hide();
            }
        )

        $(".menuLink").hover(
                function() {
                    $(this).addClass("menuLinkHighlight")
                },
                function(){
                    $(this).removeClass("menuLinkHighlight")
                }
        );

        $('.menuLink').click(
            function(event) {
                window.location = $('a', this).attr('href')
            }
        );
    });

</script>

{% endblock %}
<div data-swiftype-index='false' id="lgodnav">
    <a href="/"><img src="/static/img/logo2.png"></a>
    <div id="topicsButton"></div>
    <div id="topics" class="navSection">
        <span
            id="topicsLink" title="Topics"
            data-r0='<i class="icon-reorder"></i>'
            data-r641='Topics'
        ></span>
        <div id="topicsMenu" class="menu">
            <div id="mainMenu">
                <div id="1" class="menuItem">Games
                    <div id="sub1" class="subMenu">
                        <div class="menuLink"><a href="/category/xbox">Xbox 360</a></div>
                        <div class="menuLink"><a href="/category/ps3">Playstation</a></div>
                        <div class="menuLink"><a href="/category/wii">Wii</a></div>
                        <div class="menuLink"><a href="/category/portable">Portable</a></div>
                        <div class="menuLink"><a href="/category/pctech">PC Gaming</a></div>
                        <div class="menuLink"><a href="/category/tabletop">Tabletop</a></div>
                        <div class="menuLink"><a href="/category/reviews">Reviews</a></div>
                        <div class="menuLink"><a href="/category/upcoming">Upcoming</a></div>
                        <div class="menuLink"><a href="/category/industry">Industry</a></div>
                    </div>
                </div>
                <div id="2" class="menuItem">Tech
                    <div id="sub2" class="subMenu">
                        <div class="menuLink"><a href="/category/pctech">PC</a></div>
                        <div class="menuLink"><a href="/category/apple">Apple</a></div>
                        <div class="menuLink"><a href="/category/mobile">Mobile</a></div>
                        <div class="menuLink"><a href="/category/gadgets">Gadgets</a></div>
                        <div class="menuLink"><a href="/category/web">Internet</a></div>
                    </div>
                </div>
                <div id="3" class="menuItem">Entertainment
                    <div id="sub3" class="subMenu">
                        <div class="menuLink"><a href="/category/movies">Movies</a></div>
                        <div class="menuLink"><a href="/category/music">Music</a></div>
                        <div class="menuLink"><a href="/category/books">Books</a></div>
                        <div class="menuLink"><a href="/category/comix">Comics</a></div>
                        <div class="menuLink"><a href="/category/web-comics">Web Comics</a></div>
                        <div class="menuLink"><a href="/category/tv">TV</a></div>
                        <div class="menuLink"><a href="/category/things-we-like">Things We Like</a></div>
                    </div>
                </div>
                <div id="4" class="menuItem">Events
                    <div id="sub4" class="subMenu">
                        <div class="menuLink"><a href="/category/cons">Conventions</a></div>
                        <div class="menuLink"><a href="/category/releases">Releases</a></div>
                        <div class="menuLink"><a href="/category/random">Random</a></div>
                        <div class="menuLink"><a href="/category/meetup">Meetup</a></div>
                    </div>
                </div>
                <div id="5" class="menuItem">Opinion
                    <div id="sub5" class="subMenu">
                        <div class="menuLink"><a href="/category/public">Public Policy</a></div>
                        <div class="menuLink"><a href="/category/spec">Speculation</a></div>
                        <div class="menuLink"><a href="/category/ip">Intellectual Property</a></div>
                        <div class="menuLink"><a href="/category/privacy">Privacy</a></div>
                        <div class="menuLink"><a href="/category/technology">Technology</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div onclick="location.href='/about';" id="aboutLink" class="navSection">About</div>
    {% if user.is_authenticated %}
    <div id="userButton"></div>
    <div id="userNav" class="navSection">
        <div id="userBtn">
            <i class="icon-user"></i>
        </div>
        <div id="userMenu" class="menu">
            Hi {{ user.first_name }}!<br>
            <a href="/staff">Staff Dashboard</a><br>
            <a href="#createArticle" data-toggle="modal" data-target="#createArticle">Create an Article</a><br>
            {% for group in user.groups.all %}
                {% if group.name == 'editors' %}
                    <span id="navStaffArticleImagesLink"><a href="/staff/images/">Edit Article Images</a><br></span>
                {% endif %}
            {% endfor %}
            {% if pagetype == 'article' %}
                <a href="/editor/{{ article.id }}">Edit this article</a><br>
            {% endif %}
            <a href="/staff/profile/">Edit your Profile</a><br>
            <a href="/staff/password/">Change Password</a>
            <a href="/logout">Logout</a><br>
        </div>
    </div>
        <!-- Modal Window for Article -->
    {% endif %}
</div>
{% if user.is_authenticated %}
<div class="modal editorText" id="createArticle" tabindex="-1" role="dialog" aria-labelledby="imgUploadLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Create an Article</h3>
    </div>
    <div class="modal-body">
        <form class="form" action="/editor/" enctype="multipart/form-data" method="post">
            <input class="input-xlarge type="text" name="title" id="title" placeholder=" Enter a title..."/>
            <br />
            <input type="hidden" name="type" id="type" value='standard' />
    </div>
    <div class="modal-footer">
        <button type="submit" name="update_article" class="btn btn-primary">Create Article</button>
    </div>
    </form>
</div>
{% endif %}