{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".navSection").hover(
                function() {
                    $(this).addClass("navSectionHighlight")
                },
                function(){
                    $(this).removeClass("navSectionHighlight")
                }
        );
        $("#topics").hover(
            function () {
                $("#topicsMenu").show();
            },
            function () {
                $("#topicsMenu").hide();
            }
        );

        $("#userNav").hover(
                function () {
                    $("#userMenu").show();
                },
                function () {
                    $("#userMenu").hide();
                }
        );

        $("#searchBtn").hover(
                function() {
                    $("#navSearchMobile").toggle();
                    $(this).toggleClass("navSectionHighlight")
                }
        );

        $("#notesNav").hover(
                function () {
                    if ($(".royalSlider")) {
                        $(".royalSlider").royalSlider('stopAutoPlay');
                    }
                    $("#notesbar").show();
                },
                function () {
                    if ($(".royalSlider")) {
                        $(".royalSlider").royalSlider('startAutoPlay');
                    }
                    $("#notesbar").hide();
                }
        );

        $("#notesbar").hover(
            function () {
                if ($(".royalSlider")) {
                    $(".royalSlider").royalSlider('stopAutoPlay');
                }
                $("#notesNav").addClass("navSectionHighlight");
                $("#notesbar").show();
            },
            function () {
                if ($(".royalSlider")) {
                    $(".royalSlider").royalSlider('startAutoPlay');
                }
                $("#notesNav").removeClass("navSectionHighlight");
                $("#notesbar").hide();
            }
        );
        $(".menuItem").hover(
            function () {
                $(this).addClass("menuItemHighlight")
                $(".subMenu", this).show();
            },
            function () {
                $(this).removeClass("menuItemHighlight")
                $(".subMenu", this).hide();
            }
        )
    });
</script>

{% endblock %}
<div id="lgodnav">
    <a href="/"><img src="/static/img/logo2.png"></a>
    <div id="topics" class="navSection">
        <a
            id="topicsLink" href="#" title="Topics"
            data-r0='<i class="icon-reorder"></i>'
            data-r641='Topics'
        ></a>
        <div id="topicsMenu">
            <div id="mainMenu">
                <div id="1" class="menuItem">Games
                    <div id="sub1" class="subMenu">
                        <a href="#">Link1</a><br>
                        <a href="#">Link2</a><br>
                        <a href="#">Link3</a><br>
                        <a href="#">Link4</a><br>
                        <a href="#">Link5</a><br>
                        <a href="#">Link6</a><br>
                        <a href="#">Link7</a><br>
                        <a href="#">Link8</a><br>
                    </div>
                </div>
                <div id="2" class="menuItem">Tech
                    <div id="sub2" class="subMenu">
                        <a href="#">Link11</a><br>
                        <a href="#">Link12</a><br>
                        <a href="#">Link13</a><br>
                        <a href="#">Link14</a><br>
                        <a href="#">Link15</a><br>
                        <a href="#">Link16</a><br>
                        <a href="#">Link17</a><br>
                        <a href="#">Link18</a><br>
                    </div>
                </div>
                <div id="3" class="menuItem">Entertainment
                    <div id="sub3" class="subMenu">
                        <a href="#">Link20</a><br>
                        <a href="#">Link21</a><br>
                        <a href="#">Link22</a><br>
                        <a href="#">Link23</a><br>
                        <a href="#">Link24</a><br>
                        <a href="#">Link25</a><br>
                        <a href="#">Link26</a><br>
                        <a href="#">Link27</a><br>
                    </div>
                </div>
                <div id="4" class="menuItem">Events
                    <div id="sub4" class="subMenu">
                        <a href="#">Link30</a><br>
                        <a href="#">Link31</a><br>
                        <a href="#">Link32</a><br>
                        <a href="#">Link33</a><br>
                        <a href="#">Link34</a><br>
                        <a href="#">Link35</a><br>
                        <a href="#">Link36</a><br>
                        <a href="#">Link37</a><br>
                    </div>
                </div>
                <div id="5" class="menuItem">Opinion
                    <div id="sub5" class="subMenu">
                        <a href="#">Link40</a><br>
                        <a href="#">Link41</a><br>
                        <a href="#">Link42</a><br>
                        <a href="#">Link43</a><br>
                        <a href="#">Link44</a><br>
                        <a href="#">Link45</a><br>
                        <a href="#">Link46</a><br>
                        <a href="#">Link47</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div onclick="location.href='#Features';" id="notesNav" class="navSection">Notes</div>
    <div id="notesbar">
        <div class="notesbarList">
            {% for article in sidebarlist %}
            <div class="notesbarItem">
                <h1>{{ article.title }}</h1>
                {{ article.body|safe }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div onclick="location.href='/about';" id="aboutLink" class="navSection">About</div>
    {% if user.is_authenticated %}
    <div id="userNav" class="navSection">
        <i class="icon-user"></i>
        <div id="userMenu">
            Hi {{ user.first_name }}!<br>
            <a href="/staff">Staff Dashboard</a><br>
            <a href="#createArticle" data-toggle="modal" data-target="#createArticle">Create an Article</a><br>
            {% if pagetype == 'article' %}
                <a href="/editor/{{ article.id }}">Edit this article</a><br>
            {% endif %}
            <a href="/staff/profile/">Edit your Profile</a><br>
            <a href="/logout">Logout</a><br>
        </div>
    </div>
        <!-- Modal Window for Article -->
    {% endif %}
    <div id="navSearchFull">
        <form action="/search/" method="get">
            <input type="text" placeholder="Search" name="q" ><a href="#" onclick="$(this).closest('form').submit()"><i class="icon-search"></i></a>
        </form>
    </div>
    <div id="searchBtn">
        <i class="icon-search"></i>
        <div id="navSearchMobile">
            <form action="/search/" method="get">
                <input type="text" placeholder="Search" name="q" ><br>
                <button class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>
{% if user.is_authenticated %}
<div class="modal editorText" id="createArticle" tabindex="-1" role="dialog" aria-labelledby="imgUploadLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Create an Article</h3>
    </div>
    <div class="modal-body">
        <form class="form" action="/editor/" enctype="multipart/form-data" method="post">
            <input class="input-xlarge type="text" name="title" id="title" placeholder=" Enter a title..."/>
            <br />
            <input type="hidden" name="type" id="type" value='standard' />
    </div>
    <div class="modal-footer">
        <button type="submit" name="update_article" class="btn btn-primary">Create Article</button>
    </div>
    </form>
</div>
{% endif %}