		{% block header %}
		<div class="sidebarBG {% if user.is_authenticated %} sidebarStaffPad {% endif %}">
			<div class="sidebarWrapper">
				<div class="row-fluid">
					<div class="header">
						<h1><a href="/"><img src="/static/img/logo.png"></a>
					</div>
				</div>
				<div class="row-fluid homeCategories">
						<p><a href="/category/games">Games</a></p>
						<p><a href="/category/more%20games">More Games</a></p>
						<p><a href="/category/all of the games">All of the Games</a></p>
				</div>
				<div class="row-fluid siteLinks">
						<p><a href="/about/">About Us</a></p>
						<p><a href="/authors/">Authors</a></p>
						<p><a href="/contact/">Contact</a></p>
				</div>
			</div>
		</div>
		{% endblock %}