		{% if user.is_authenticated %}
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <ul class="nav">
                            <li class="divider-vertical"></li>
                            <li><a href="/staff/">Staff Dashboard</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="#createArticle" data-toggle="modal" data-target="#createArticle">Create an Article</a></li>
                            <li class="divider-vertical"></li>
                            {% if pagetype == 'article' %}
                                <li><a href="/editor/{{ article.id }}">Edit this article</a></li>
                                <li class="divider-vertical"></li>
                            {% endif %}
                        </ul>
                        <ul class="nav pull-right margintop1">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Hi {{ user.first_name }}!
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/staff/profile/">Edit your Profile</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Modal Window for Article -->
            <div class="modal editorText" id="createArticle" tabindex="-1" role="dialog" aria-labelledby="imgUploadLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Create an Article</h3>
                </div>
                <div class="modal-body">
                    <form class="form" action="/editor/" enctype="multipart/form-data" method="post">
                        <input class="input-xlarge type="text" name="title" id="title" placeholder=" Enter a title..."/>
                        <br />
                        <input type="hidden" name="type" id="type" value='standard' />
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button type="submit" name="update_article" class="btn btn-primary">Create Article</button>
                </div>
                </form>
            </div>

        {% endif %}