{% extends "base.html" %}
{% block title %}<title>Live Geek or Die </title>{% endblock %}
{% block content %}
         <div class="row-fluid staffHome">
			<div class="span12">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#posted" data-toggle="tab">Posted</a></li>
                        <li><a href="#unposted" data-toggle="tab">Not Posted</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="posted">
                            {% for article in posted %}
                            <div class="row-fluid">
                                <div class="span10 offset1 staffArticleItem">
                                    <div class="span2">
                                        <img src={{ article.thumbnail.URL }}>
                                    </div>
                                    <div class="span5">
                                        <a href="/article/{{ article.title_slug }}">{{ article.title }}</a><br>
                                        Posted:{{ article.date_posted|date:" M jS"}} at {{ article.date_posted|date:"P" }}<br>
                                    </div>
                                    <div class="span1 staffStats">
                                        Views<br><div class="staffStatsNumber">45</div>
                                    </div>
                                    <div class="span2 staffStats">
                                        Comments<br><div class="staffStatsNumber"><a href="/article/{{ article.title_slug }}/#disqus_thread">Count</a></div>
                                    </div>
                                    <div class="span1 staffStats">
                                        <i class="icon-facebook"></i><br><div class="staffStatsNumber">14</div>
                                    </div>
                                    <div class="span1 staffStats">
                                        <i class="icon-twitter"></i><br><div class="staffStatsNumber">22</div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane" id="unposted">
                           {% for article in unposted %}
                           <div class="row-fluid">
                               <div class="span10 offset1 staffArticleItem">
                                   <div class="span2">
                                       <img src={{ article.thumbnail.URL }}>
                                   </div>
                                   <div class="span5">
                                       <a href="/article/{{ article.title_slug }}">{{ article.title }}</a><br>
                                       Posted:{{ article.|date:" M jS"}} at {{ article.date_posted|date:"P" }}<br>
                                   </div>
                                   <div class="span1 staffStats">
                                       Views<br><div class="staffStatsNumber">45</div>
                                   </div>
                                   <div class="span2 staffStats">
                                       Comments<br><div class="staffStatsNumber"><a href="/article/{{ article.title_slug }}/#disqus_thread">Count</a></div>
                                   </div>
                                   <div class="span1 staffStats">
                                       <i class="icon-facebook"></i><br><div class="staffStatsNumber">14</div>
                                   </div>
                                   <div class="span1 staffStats">
                                       <i class="icon-twitter"></i><br><div class="staffStatsNumber">22</div>
                                   </div>
                               </div>
                           </div>
                           {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
         </div>
{% endblock %}
{% block javascript %}
        <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'livegeekortest'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
        </script>
{% endblock %}
